- content_for :hero do
  = render "/2014/hero-page"

.section.location
  .objgroup
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
  %h2.title
  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 一般介紹
    :markdown

      #### 什麼是「台灣駭客年會」？
      台灣最大的資訊安全技術研討會，駭客們的年度盛會。

      #### 誰能參加？
      僅限購票者入場，任何人都能在網站或現場購票，票種限制和數量請洽大會網站

      #### 現場都是駭客嗎？
      依據經驗，現場有很多已經是駭客的人、想成為駭客的人、不想成為駭客但已經洗不清的人

      #### 有供應食物嗎？

      - HITCON-X ENT
        - 第一天：上午茶、午餐、下午點心
        - 第二天：上午茶、午餐、下午點心

      - HITCON-X PLG
        - 第一天：限量早餐(早起鳥兒有蟲吃)、高級好吃的午餐、下午點心
        - 第二天：限量早餐(早起鳥兒有蟲吃)、高級好吃的午餐、下午點心

      保證豐盛，吃飽飽

      #### 現場可以上網？
      現場提供台灣最髒的有線和無線網路，無機密性、無完整性、無可用性，隨時可能斷線，
      在此上Facebook、發噗浪而被盜帳號，保險公司絕不理賠。
      急需上網者請自備3G上網，聽說中華電信有可能加派基地台車，其他業者收訊不良請自行客訴
      （一切設備開啟飛航閉模式最安全，大會不對3G上網安全性做出任何明示或暗示的擔保）

      #### 會議的語言？
      今年的演講者預計以下列語言進行演講：
      中文演講，提供翻成英文的即時口譯、事先翻譯的英文講義。
      （口譯無線耳機憑證件免費租用，數量有限租完為止）
      英文演講，沒有提供口譯、僅提供英文講義。
      日文演講，提供翻成中文的即時字幕、字幕再翻成英文的即時口譯、事先翻譯的英文講義。
      （海外參加者：其他語文需求，請來信洽詢 service@hitcon.org）

      #### 很多問題這裡沒寫？
      請直接來信詢問 service@hitcon.org

    .title-wrapper
      %h3.title
        .span 購票問題
    :markdown

      #### 我什麼時候才會收到票呢？
      從 hitcon 2010這屆開始，只要憑您的網路報名序號，以及攜帶您的身分證、學生證即可驗證您的身分。

      #### 我什麼時候會拿到發票呢？
      本活動委託 kktix 處理發票，會在活動 10 日前統一開立電子發票，並且寄送三聯紙本發票。

      #### 可以現場報名嗎？
      hitcon -x ent現場購票名額有限，且較花您寶貴時間，請盡量從網路報名，以方便作業。
      hitcon -x plg 不提供現場夠票喔，請捲起你的袖子努力搶票吧！

      #### 大學應屆畢業生可以使用學生票嗎？
      入場時以學生證為憑，已畢業者恕無法使用學生票價囉。

      #### 攜伴是指多人可以享用一個人的價格嗎？
      攜伴僅是方便一起報名匯款使用，並無價格優惠。舉例來說，五人前往，就是算五個人的票價。

      #### 攜伴的 t-shirt、便當該如何統計？
      請記得於報名系統選擇 t-shirt 大小 ，便當則一律由現場報到時取領便當劵。

      #### 我已經匯款了，但是系統說沒有收到，該如何處理呢？
      請利用「聯絡主辦單位」功能，將您的報名序號、基本資料、匯款資料寄送給我們，我們會儘快聯絡報名系統處理。

      #### 我想要退票，請問該如何處理？
      很抱歉，我們不受理退票程序。

      #### 我只想聽一天的議程，可以只付一天的錢嗎？
      不可以。你可以找朋友來聽另一天議程，然後想辦法要他付點錢。

      #### 我是大陸學生，不知道學生證能不能適用?
      可以適用。

      #### t-shirt 大小不對，可以換嗎？
      由於 t-shirt 數量有限，沒辦法直接幫您換取。可能請您看有沒有人願意跟您交換。誠心建議拿去掏寶賣掉可以賺更多.

    .title-wrapper
      %h3.title
        .span 場地問題
    :markdown

      #### 會場內有網路及電源可以使用嗎？
      有電源、無線及有線網路，請自備網路線使用有線網路，以確保網路順暢。

      #### 請問今年到底有沒有提供可樂?
      很幸運地，今年會提供可樂。

      #### 場地能不能停車?
      中研院內四周可停車，換證即可，不收取費用。

      #### 會場內可以拍照嗎？
      會議進行過程中禁止拍照攝影，如有需要照片，日後我們會由攝影人員統一公布。

      #### 我想上廁所！
      請自行前往，不要打擾到別人喔！

      #### 會議時可以睡覺嗎?
      可以，但請不要打呼唷！
    .title-wrapper
      %h3.title
        .span 災害對策
    :markdown

      #### 會有颱風嗎？
      依照過去經驗，黑人聚集之處容易烏雲密佈，請自備防颱雨具
      因為颱風是被我們引來的，除非官方網站公告，原則上大會不會輕易延期或取消。

      #### 緊急聯絡方式
      會場找人最快方式是 irc 聊天室，會議過程中保證有人看

      #### 醫療協助
      大會設有一般醫療箱、受過護士訓練的工作人員，更嚴重狀況將轉送附近醫院

      #### 地震
      會議地點建築是剛落成的鋼骨結構，不會輕易倒塌，發生地震請隨工作人員指示避難

      #### 火災
      會場備有消防系統，逃生規劃亦通過火災安檢，發生火災請隨工作人員指示避難

      #### 水災
      請大家使用攜帶的筆電當浮板, 可以撐到救難大隊來

      #### 核災
      會及時黑進核電廠控制室協助處理, 請不用擔心

    .title-wrapper
      %h3.title
        .span 議程問題
    :markdown

      #### 請問投影片什麼時候會公布下載？
      請密切注意官方網站，我們會儘快公布。

      #### 會議過程中可以發問嗎？
      每個議程都會有提問時間，請於該時間發問。

      #### 去聽完就可以當駭客了嗎？
      這種事，講天份的！

  .content.en
