- content_for :hero do
  = render "/2014/hero-page"

.section.location
  .objgroup
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
  %h2.title FAQ / 問與答
  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 一般介紹
    :markdown

      #### 什麼是「台灣駭客年會」？
      在純技術的領域裡面沒有黑與白，我們認為駭客是代表著高超的技術、挑戰的精神。
        有別於一般商業性質濃厚之研討會，台灣駭客年會提供了一個舞台，讓駭客們有機會與大家分享最新與最深入的資安技術，面對面交換經驗，自由的對談。大會對於會議議程的內容相當謹慎，我們希望確保在駭客年會上發表的內容，是不帶商業色彩的安全研究、是最新的趨勢探討，或者是夠水準的駭客技術，也希望每一場演講都是參與者最想關注的議題。

        在會議進行的同時，駭客年會也舉辦了網路攻防競賽 (Wargame/CTF)，提供真實的網路環境和挑戰，讓參與人員能夠盡情發揮，期望在活動中學習，並印證自己的能力。這也是駭客年會最大的特色之一。另外還有即時大螢幕的IRC聊天頻道、綿羊牆等等，這些有趣以及能和聽眾互動的創新和安排，都是駭客年會與眾不同之處，也是每年都能吸引許多聽眾入場的原因。

        台灣駭客年會是駭客們的聚會，駭客們一年一度的 party。除了技術的分享，也可體驗到真正的駭客文化，在駭客與駭客社群的交流下，常常有最新最有趣也最敏感的議題。我們歡迎所有對資訊安全有興趣的朋友一同參與這每年一度的盛會。


      #### 誰能參加？
      僅限購票者入場，任何人都能在網站或現場購票，票種限制和數量請參考 [http://hitcon.org/2014/registration/](http://hitcon.org/2014/registration/)
    .title-wrapper
      %h3.title
        .span 議程
    :markdown

      #### 今年為什麼要分成兩場呢?

      ##### 2014/08/19 (二) ~ 2014/08/20 (三) HITCON X Enterprise ( 企業大會 HITCON X ENT )

      有鑑於全方位之駭客應不只是討論技術內容，本場次更著重於資安政策、資安趨勢發展、資安人才培育議題及企業之相互交流學習，「企業大會 HITCON X ENT」 秉持提供參與者最高品質會議內容與場地，藉 由本場不管是公部門及私部門或是講師、聽眾及企業主們都 能獲得最佳之交流及分享機會。

      ##### 2014/08/21 (四) ~ 2014/08/22 (五) HITCON X Playground ( 社群大會 HITCON X PLG )

        「社群大會 HITCON X PLG」，本場是一個駭客、資安專家及社群朋友的嘉年華會，內容專注於駭客技術外，當日聽眾於會場亦有相關資訊安全之延伸活動可以參加，包含： HITCON CTF 競賽、專家資安成長分享、聽眾即期短分享等等， 並擺放有各種有趣活動,這是一個很好玩也很有特色的資安研討會，讓資安社群、學生與所有對資安技術有興趣的人更容易來到 這裡與大家交流外，並準備比以往更多好玩有趣的活動和內容。

      #### 兩場的會議有什麼不同呢?

      請參考我們為您製作的比較表喲： [http://hitcon.org/2014/compare/](http://hitcon.org/2014/compare/)

      ##### 「企業大會 HITCON X ENT」
      * [趨勢分析] 兩岸資安圈10年發展回顧及未來趨勢與人才培育探討。
      * [全新觀點] 以駭客技術關點探討資安治理策略。
      * [防護研究] 以企業觀點探討最新防禦科技發展，包含 APT, Malware, Mobile Security, Cloud Security, Forensics 與 DDoS Attack 等各項議題。
      * [國際交流] 邀請國際著名研究員發表資安研究。

      ##### 「社群大會 HITCON X PLG」
      * [研究發表] 國內研究員與學生的資安研究發表
      * [社群活動] 資安社群研究與活動成果分享
      * [國際交流] 國際資安研究發表
      * [聯誼交友] 聊天聯誼與人才交流

      #### 我適合哪一場呢?

      如果您對於資安最新的技術有興趣或是想聽聽各國駭客的研究分享，歡迎您來「企業大會 HITCON X ENT」，如果您喜歡聽聽國內資安前輩的經驗分享、對於實體安全有興趣、或是想報名 lighting talk，歡迎您來「社群大會 HITCON X PLG」 !

      #### 我可以在這邊獲得什麼外面聽不到的資訊呢?
      本次會議內容涵蓋相當廣泛，包括資訊安全技術、網路監察態樣、行動載具安全、資安情資整合分析、手機軟體安全、無線控制設備安全、資安防禦策略及治理、雲端安全、資安事件管理及應變、新型惡意程式剖析、資安事件偵測及預警關鍵基礎保護、資訊法規政策、資安人才培育...。除了豐富的議程以外，你有機會看見駭客的真實樣貌， 您有機會聽到最新的漏洞，也有機會學習更多駭客技術與有機會聽見駭客的秘辛。

      #### 我想上台講一場，我有資格嗎?

      非常歡迎喔！本次「企業大會 HITCON X ENT」 與「社群大會 HITCON X PLG」聯合徵稿，接受議題之廣度及深淺都比歷屆還要豐富，請各路資安好手、研究人員及朋友們至本屆 HITCON CFP 網站 （http://cfp2014.hitcon.org） 選擇您投稿的場次吧。

      請欲投稿者於 2014年 7 月 5 日前，至 [http://cfp2014.hitcon.org](http://cfp2014.hitcon.org) 註冊相關資訊與上傳稿件，俾利議程委員審核，請盡速投稿，先投稿者先審核，如已達本屆所需論文，大會保留提前截稿之權利。

      #### 我有0-day，也可以發表嗎？

      本次駭客年會亦計畫也 0-day exploit 發表展示，投稿者於 2014 年 7 月 5 日前，將您個人所發現的漏洞驗證程式 (proof of exploit)，以電子郵件方式傳送至 agenda2014 [at] hitcon.org，並經過大會確認，就有機會免費取得本屆 「企業大會 HITCON X ENT」 與「社群大會 HITCON X PLG」雙入場券，並且上台展示漏洞，該漏洞一切權利歸作者所有。


      #### 我朋友真的很強，但他超神祕的，也不敢上台，你們有辦法鼓勵他上台嗎?

      於HITCON會議上演講代表一種榮耀也代表 HITCON 招牌，除了可以提升自我價值之外也可以讓更多人知道你的努力。另外，成為 HITCON 講師可以獲得我們補助的獎金以及享有特權，請參考 [https://cfp2014.hitcon.org/zh/terms-conditions/](https://cfp2014.hitcon.org/zh/terms-conditions/)

      #### 什麼是算命攤？只有「社群大會 HITCON X PLG」才有嗎？

      是的！只有「社群大會 HITCON X PLG」才有噢！神秘的算命攤是屬於 HITCON 獨有的特別活動，由提姆大師所主持。這是個很自由、非正式的小型聚會場地，主持人可能隨時找聽眾聊天，交換想法，或是邀請知名駭客或資安專家，分享生活或工作上的經驗。談論的主題完全視當時情況決定，可能會包含各項資安議題、名駭客的成長分享、入侵罪惡感的告解、人生旅途上的指點、心靈上的安慰和思想上的引導。

      本場地除了提供座位，也提供與正妹合拍留念的機會，累了則提供打電玩活動，沒人時則會挑選主要議程作即時轉播。當然，更希望聽眾來分享任何事，包含論文、專題以及各項研究，或是其它任何想分享的事物。

      歡迎各位想聊天，想認識同好，想分享知識及經驗的朋友，別擠在小小會議室了，過來一塊坐下聊聊天吧！

      ##### 提姆大師之心海羅盤會是一個什麼性質的攤位呢？
      是一個既豐富又多元的小型聚會場所。充滿歡笑充滿愛，來了你就會知道！

      ##### 當一個駭客，有時候很掙扎究竟這樣做到底好不好，我的心裡好痛苦呀！
      提姆大師會聽你告解， 並開導你。當一個駭客， 其實你並不寂寞。

      #### 去年算命攤超讚，今年還會有算命攤嗎?

      有的！但只有在只有「社群大會 HITCON X PLG」才有噢！在去年的算命攤中，我們
      請來了許多知名駭客來分享，在算命攤會場真的非常歡樂，許多的分享與經驗實在難得， 真是受益良多， 而今年的算命攤您絕對不能錯過， 提姆大師今年又有很多新點子， 歡迎大家一同參與。不過現場仍是以即興的議程安排， 請隨時注意會場的公告，請大家敬請期待囉！

      #### 會議的語言？

      今年的演講者預計以下列語言進行演講：
      1. 中文演講，提供翻成英文的即時口譯、事先翻譯的英文講義。（口譯無線耳機憑證件免費租用，數量有限租完為止）
      2. 英文演講，沒有提供口譯、僅提供英文講義。
      3. 日文演講，提供翻成中文的即時字幕、字幕再翻成英文的即時口譯、事先翻譯的英文講義。
      4. 海外參加者：其他語文需求，請來信洽詢 service@hitcon.org

      #### 我也想分享，可以現場報名 Lightning Talk 嗎？請問要在哪裡報名呢？

      歡迎現場報名Lightning talk， 報名時間與地點會在活動當天公告，請有興趣的人可以注意相關訊息報名噢！

      #### 請問投影片什麼時候會公布下載？

      請密切注意官方網站，我們會儘快公布。

      #### 會議過程中可以發問嗎？

      每個議程都會有提問時間，請於該時間發問。

      #### 去聽完就可以當駭客了嗎？

      這種事，講天份的。

      #### 想聽深一點的技術或是尋找研究方向，應該選擇哪一場？

      對於深一點的技術這個標準有點難定義，您要不要看議程與兩場會議的比較表再決定呢？
      參考比較表：[http://hitcon.org/2014/compare/](http://hitcon.org/2014/compare/)，
      也可以考慮參加我們的「HITCON X Training」: [http://hitcon.kktix.cc/events/hitcon-x-training](http://hitcon.kktix.cc/events/hitcon-x-training)

    .title-wrapper
      %h3.title
        .span HITCON X Training
    :markdown
      #### 「HITCON X Training」、「企業大會 HITCON X ENT」 與「社群大會 HITCON X PLG」議程有什麼不同？

      不太一樣喔，「HITCON X Training」著重於講師的技術指導，可以更近距離的與講師互動，有什麼問題都可以把握機會好好發問。

      #### 「HITCON X Training」，「企業大會 HITCON X ENT」，「社群大會 HITCON X PLG」都是分開的嗎？

      是的，都是獨立的!需要分別報名購票入場

      ##### 報名處
      *「HITCON X Training」 : [http://hitcon.kktix.cc/events/hitcon-x-training](http://hitcon.kktix.cc/events/hitcon-x-training)
      *「企業大會 HITCON X ENT」 : [http://hitcon.kktix.cc/events/hitcon-x-ent](http://hitcon.kktix.cc/events/hitcon-x-ent)
      *「社群大會 HITCON X PLG」 : [http://hitcon.kktix.cc/events/hitcon-x-plg](http://hitcon.kktix.cc/events/hitcon-x-plg)

      #### 「HITCON X Training」會有錄影或是釋出簡報嗎？紙本講義呢？

      上課簡報會提供給上課學員，但不會提供紙本，上課過程也不會錄影， 來上課會聽到很多小祕訣喔！

      #### 對課程有興趣，但是我會不會聽不懂？

      每一場 Training 都非常精彩，也都很難得！可以請您先至 [http://hitcon.org/2014/agenda/](http://hitcon.org/2014/agenda/) 並且點選您有興趣的「課程名稱」觀看更詳細的課程介紹，衡量自己是否適合，或已具備課程建議之能力！

      #### 報名後反悔了，可以退票嗎？

      一旦課程報名人數到達 15 人以上，就可正式開班，開班成功我們就不接受退票唷！請您報名前先考慮清楚，不過這麼精彩的課程，你怎麼捨得退票？

      #### 已經報名的課程沒有順利開成，會退錢嗎？

      每一課程開課人數為 15 人、上限為 20 人，未開班成功會全額退費，請放心。

      #### 「HITCON X Training」會開發票嗎？

      本活動委託 KKTIX 處理發票，會在活動 10 日前統一開立電子發票，並且寄送三聯紙本發票，需統一編號者請務必填寫統編等資訊。

      #### 「HITCON X Training」會有學生票嗎？

      很抱歉喔，「HITCON X Training」沒有學生票 。

      #### 我有其他問題，該怎麼詢問？

      若有其他問題歡迎來信，教育訓練服務信箱（training@hitcon.org），我們會盡力為您解答

    .title-wrapper
      %h3.title
        .span 贊助商
    :markdown
      #### 我們公司想贊助 HITCON，要怎麼取得贊助方式呢?

      歡迎寄信至 <sponsorship@hitcon.org> 向我們索取贊助計畫書，我們將有專人與貴單位聯繫。

      #### 贊助 HITCON ，會有什麼贊助效益?

      1. 贊助HITCON會提升貴公司形象
      2. 同時也能增加貴公司曝光度
      3. 與資安專家建立好關係，未來若發生資安事件較易取得協助
      4. 得知資安最新的資訊

      #### 擺攤位對我們公司有什麼幫助？

      1. 可以建立社群內影響力
      2. 可以招募資安人才
      3. 將公司技術實作在攤位上
      4. 將公司過去的成果展現出來
      5. 提升貴公司知名度，具有廣告效益
      6. 在攤位上可進行小遊戲或問卷，與客群有互動

      #### 我們公司有好多人想參加，但好怕搶不到票，贊助商可以有保留票嗎?

      謝謝貴公司的支持，但基本上是沒有保留票的喲 ! 除了贊助合作提供的入場名額之外，其他的購票需求都必須公開搶票，以示公平喲!

      #### 我們公司急需資安高手加入，有辦法在 HITCON 找到嗎?

      在 HITCON 中有非常多厲害的資安高手，記得準備好您的名片，與現場的資安朋友們一起交流討論技術，或是尋求您需要得資安高手!

      #### 我們公司是資安設備商，HITCON 有我們的行銷目標嗎?

      本次會議內容涵蓋相當廣泛， 包括資訊安全技術、網路監察態樣、行動載具安全、資安情資整合分析、手機軟體安全、無線控制設備安全、資安防禦策略及治理、雲端安全、資安事件管理及應變、新型惡意程式剖析、資安事件偵測及預警關鍵基礎保護、資訊法規政策、資安人才培育...，  您可以挑選較符合您公司運作方向的議題參與， 擁有正確的資安觀念與了解最新的威脅， 可能會幫助您在行銷目標上的策劃， 若以上的議題仍不能滿足您的需求，也歡迎至算命攤與資安專家交流，也許對您是有幫助的！

      #### 兩場的參加會眾有什麼差異?

      我們有為您製作比較表喲，請參考: [http://hitcon.org/2014/compare/](http://hitcon.org/2014/compare/)

      #### 我想知道歷年的會眾職業分布?

      資料統計如下

      ##### 研發工程師
      32% (與資安無關 14%， 與資安相關 18%)

      ##### CEO / CIO / CTO (企業 IT主管)
      8%

      ##### 資安專業服務
      9%

      ##### 教師與學術研究
      7%

      ##### 學生
      24%

  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 票務
    :markdown
      #### 今年怎分兩場呢? 且票價怎麼差這麼多?

      我們將分成「企業大會 HITCON X ENT」 與「社群大會 HITCON X PLG」兩個場次，您可以參考我們為您製作比較表喲，請參考：http://hitcon.org/2014/compare/

      因為兩個場次的活動性質與會議內容有相當大的差異，所以票價上也會有差異!您可以選擇適合您需求的場次參與喔

      #### 我需要兩場都參加嗎?

      兩場內容都非常精彩， 「企業大會 HITCON X ENT」與「社群大會 HITCON X PLG」時間也沒有衝突， 是非常歡迎都參加的喔，不過實際狀況仍由您自己考慮是否參與，提供比較表給您參考http://hitcon.org/2014/compare/

      #### 我是海外的朋友，我想參加 HITCON ，但怕搶不到票，我能請大會幫忙嗎?

      搶票部分還是必須自己努力喲，但如果是匯款部分海外參加者若無法匯款，請來信大會服務信箱，並提供參加名單，我們將為您服務。

      #### 國外的駭客年會票價都多少呢?

      ##### 美國最大的駭客年會
      * Blackhat：價格約6萬多台幣(1個人)  ---> like 今年的「企業大會 HITCON X ENT」
      * Defcon：價格約6000多台幣  ---> like 今年的 「社群大會 HITCON X PLG」

      #### 我是政府重要的官員，負責資訊規畫與政策發展，連我都需要買票嗎，不能送我票嗎?
      不管你是馬小九、歐巴馬、立委、都教授、AV女優、還是柯博文，只要是心智正常者全都是要都需要上網買票才能進場。當然除了是大會邀請對駭客界有重要貢獻人之外。(非長期地球居民需出示最近半年入出境地球資料者，可以免費進場)

      #### 我搶到票了，但是發票資訊不小心填錯了，可以更改嗎?
      可以，有任何票務問題，請至KKTIX客服中心 [http://support.kktix.com](http://support.kktix.com)

      #### 我什麼時候才會收到票呢？

      不會寄發紙本票卷喔，只要攜帶著報名成功的通知信上的QRcode，以及攜帶您的身
      分證、學生證即可驗證您的身分。

      #### 我什麼時候會拿到發票呢？

      本活動委託 KKTIX 處理發票，會在活動 10 日前統一開立電子發票，並且寄送三聯
      紙本發票。

      #### 可以現場報名嗎？

      「企業大會 HITCON X ENT」 現場購票名額有限，且較花您寶貴時間，且票價較貴，請盡量從網路報名，以方便作業。
      「社群大會 HITCON X PLG」不提供現場購票喔，請捲起你的袖子努力搶票吧！

      #### 大學應屆畢業生可以使用學生票嗎？

      入場時以學生證為憑，已畢業者恕無法使用學生票價囉。

      #### 應屆畢業生不適用學生方案，那準研究生可以入場嗎？如何證明？

      準研究生已不屬於大專院校的身分囉。

      ##### 「學生身分」須為以下兩點任一符合者
      * 持「學生證」（大專院校不含研究所），須蓋 102 學年度上下學期「註冊章」，且年齡 24 歲以下。
      * 持「身分證、駕照、健保卡、護照」四種有照片證件之一，須為民國 84 年 9 月後出生者，例如國中、高中職學生。
      * 學生票現場驗票說明：每位持學生票者，需提供本人學生證或上述四種有照片證件。
      * 未帶證件或不符資格者，一律以「一般身份」需補票進場。

      #### 請問「社群大會 HITCON X PLG」 學生票，限制持「學生證」（大專院校不含研究所），須蓋 102 學年度上下學期「註冊章」，且年齡 24 歲以下。 其餘都符合的情況下，年齡超過24是否可行呢？

      我們需要符合兩者條件才屬於學生票資格唷，很抱歉。

      #### 攜伴是指多人可以享用一個人的價格嗎？

      不行，攜伴僅是方便一起報名匯款使用，並無價格優惠。舉例來說，五人前往，就
      是算五個人的票價。

      #### 攜伴的 T-shirt、便當該如何統計？

      請記得於報名系統選擇 T-shirt 大小 ，便當則一律由現場報到時取領便當劵。

      #### 我已經匯款了，但是系統說沒有收到，該如何處理呢？

      若有任何票務問題，請至KKTIX客服中心 [http://support.kktix.com/](http://support.kktix.com/)

      #### 我想要退票，請問該如何處理？

      很抱歉，我們不受理退票程序。

      #### 我只想聽一天的議程，可以只付一天的錢嗎？

      不可以。你可以找朋友來聽另一天議程，然後想辦法要他付點錢。

      #### 我是大陸學生，不知道學生證能不能適用?

      可以適用。

      #### T-shirt 大小不對，可以換嗎？

      由於 T-shirt 數量有限，沒辦法直接幫您換取。可能請您看有沒有人願意跟您交換。
      誠心建議拿去掏寶賣掉可以賺更多.

      #### 我只買 「企業大會 HITCON X ENT」 的票可以去 「社群大會 HITCON X PLG」嗎?

      很抱歉，不可以喲！「企業大會 HITCON X ENT」 與「社群大會 HITCON X PLG」是分開的，如果您有興趣可以兩場都報名參加噢。

      #### 我只買「社群大會 HITCON X PLG」 的票可以去「企業大會 HITCON X ENT」  嗎?

      很抱歉，不可以喲！「企業大會 HITCON X ENT」 與「社群大會 HITCON X PLG」是分開的，如果您有興趣可以兩場都報名參加噢。
    .title-wrapper
      %h3.title
        .span 會眾
    :markdown

      #### 我完全不了解資安技術，但我可以參加嗎?

      可以， 您可以參加 「社群大會 HITCON X PLG」， 可能會比較符合您的狀況，歡迎加入！

      #### 在聚會過程我可以黑別人嗎？

      擁有強大的駭客技術，歡迎參加「社群大會 HITCON X PLG」喔! 欺負別人是不道德的行為！為了維護地球和平，大會有準備一群神人組成的特戰隊，只要你不乖，惹毛他們，將會遭受冰火五重天的阿魯巴，直到生活不能自理為止。

      #### 在會議過程中我被黑了怎麼辦

      會議中不保證網路的安全， 請設法使用較安全的方式使用網路!  (為了保護你的家人與朋友，強烈建議專心學習，請不要上網)

    .title-wrapper
      %h3.title
        .span 交通
    :markdown
      #### 「企業大會 HITCON X ENT」  交通
      * 時間 : 2014/8/19(二) ~ 2014/8/20(三)
      * 地點 : 台北喜來登大飯店 B2 喜來登廳

      #### 「社群大會 HITCON X PLG」交通
      * 時間 : 2014/8/21(四) ~ 2014/8/22(五)
      * 地點 : 中央研究院 人文社會科學館

      #### HITCON X Training交通
      台北恆逸上課教室 - 台北市復興北路99號 14樓

      ####「安全技術攻防競賽 HITCON X CTF」交通
        1.「安全技術攻防競賽 HITCON X CTF」是在網路上進行的，完成登錄後即具備參賽資格，所以比賽進行期間，參賽者就看哪個方位的駭客能量比較強大，解題比較順利，就往那裡去吧!
        2.若獲得名次，要領取「安全技術攻防競賽 HITCON X CTF」獎金，須前往 「社群大會 HITCON X PLG」(2014 年 8 月 21 日 (四) ~ 2014 年 8 月 22 日 (五) )現場領取 。地點: 中央研究院 人文社會科學館 國際會議廳。未前來現場者，將不會補頒發獎金。

    .title-wrapper
      %h3.title
        .span 會議現場
    :markdown

      #### 會場有提供網路嗎?
      現場提供台灣最髒的有線和無線網路，具可否任性、無機密性、無完整性、無可用
      性，隨時可能斷線，在此上Facebook、發噗浪而被盜帳號，保險公司絕不理賠。會了
      保護你的家人與朋友，強烈建議專心學習，不要上網。

      #### 是否有提供午餐及點心?

      ##### 「企業大會 HITCON X ENT」
      * 第一天：上午茶、午餐、下午點心
      * 第二天：上午茶、午餐、下午點心

      ##### 「社群大會 HITCON X PLG」
      * 第一天：限量早餐(早起鳥兒有蟲吃)、高級好吃的午餐、下午點心
      * 第二天：限量早餐(早起鳥兒有蟲吃)、高級好吃的午餐、下午點心

      ##### 我吃素，請問有素食便當嗎?
      * 「企業大會 HITCON X ENT」 : 有的，請在報名系統上選擇您是否需要素食便當。
      * 「社群大會 HITCON X PLG」 : 有的，請在報名系統上選擇您是否需要素食便當。

      #### 會場內有網路及電源可以使用嗎？
      * 「企業大會 HITCON X ENT」 :有的，我們有設置充電區，以及無線網路(數量有限)。
      * 「社群大會 HITCON X PLG」 :有的，我們有設置充電區，以及無線網路(數量有限)。

      #### 請問今年到底有沒有提供可樂?
      很幸運地，今年會提供可樂。

      #### 場地能不能停車?
      中研院內四周可停車，換證即可，不收取費用。

      #### 會場內可以拍照嗎？
      會議進行過程中禁止拍照攝影，如有需要照片，日後我們會由攝影人員統一公布。
      歷屆不聽勸者都已經被阿魯巴。

      #### 我想上廁所！
      請自行前往，不要打擾到別人喔！

      #### 會議時可以睡覺嗎?
      可以，但請不要打呼唷！被抓到要罰站

      #### 我有外國朋友想參加，那裡有人會說英文嗎?
      有的，如果有任何需要幫助的，請告訴現場的工作人員 (部分場次也都有翻譯)

    .title-wrapper
      %h3.title
        .span HITCON X CTF
    :markdown
      #### 這次比賽日期改期了？ 不在HITCON 研討會期間舉辦？
      為了符合國際賽事慣例，「安全技術攻防競賽 HITCON X CTF」 改為 2014/08/16
      (六) 12:00 PM ~ 2014/08/18 (一) 12:00 PM (週末)舉辦。請不要傻傻地帶著電腦跑到「社群大會 HITCON X PLG」說要比賽，那時已經來不及了

      #### 如何參加「安全技術攻防競賽 HITCON X CTF」比賽？
      請於7/1～8/17 起到官網註冊登錄才能於比賽期間進入系統。注意，比賽第二天
      (8/17)中午前都還可以登錄。

      #### 本次比賽時間多長？
      2014/08/16 (六) 12:00 PM ~ 2014/08/18 (一)12:00PM ，共48小時。

      #### 參加「安全技術攻防競賽 HITCON X CTF」需要報名HITCON研討會嗎？
      完成登錄後即具備參賽資格，不需額外報名 HITCON 研討會

      #### 如何領取獎金？
      若獲得名次，要領取「安全技術攻防競賽 HITCON X CTF」 獎金，須前往「社群大
      會 HITCON X PLG」(2014 年 8 月 21 日 (四) ~ 2014 年 8 月 22 日 (五) )現場領取 。地點: 中央研究院 人文社會科學館 國際會議廳。未前來現場者，將不會補頒發獎金。

      #### 獲得名次之隊伍，前往「社群大會 HITCON X PLG」領獎金時，需要購買門票嗎？
      不需要，且為了鼓勵優秀選手，獲獎隊伍可獲得「社群大會 HITCON X PLG」門票
      比賽前三名隊伍，每隊提供三個名額免費參加 「社群大會 HITCON X PLG」
      比賽其他獲獎隊伍：若提交 10 分鐘簡報與心得分享，可獲得 2 個 「社群大會 HITCON X PLG」入場名額，分享的隊伍可另外獲得 HITCON 10 週年鉅獻「HITCON X 駭客攻防桌遊」乙套。若不上台分享，則僅提供 1 名入場名額

      #### 我8/18打完比賽後取得名次，也獲得「社群大會 HITCON X PLG」門票，但我之前已經購買了，該怎麼辦？
      你可以趕快把之前購買的門票賣掉，或贈送給需要的人

      #### 我8/18打完比賽後，沒有得名，但是這時候也買不到「社群大會 HITCON X PLG」的門票，我該怎麼辦？
      你趕快找樓上的人買


      #### 「安全技術攻防競賽 HITCON X CTF」比賽還有哪些注意事項：
      競賽期間，做出以下違規事項者將直接取消資格：

      * 進行任何破壞競賽公平公正原則之行為
      * 散播、與其它隊伍交換關卡金鑰
      * 除競賽中提供的關卡外，禁止對競賽系統、參賽者及其它人員進行攻擊


      ### 組隊人數有限制嗎？
      沒有人數限制喔! 歡迎各參賽隊伍召集強大的資安能量一起來打「安全技術攻防競賽 HITCON X CTF」吧!

    .title-wrapper
      %h3.title
        .span 災害對策
    :markdown
      #### 會有颱風嗎？
      依照過去經驗，黑人聚集之處容易烏雲密佈，請自備防颱雨具
      因為颱風是被我們引來的，除非官方網站公告，原則上大會不會輕易延期或取消。

      #### 緊急聯絡方式
      會場找人最快方式是 IRC 聊天室，會議過程中保證有人看

      #### 醫療協助
      大會設有一般醫療箱、受過護士訓練的工作人員，更嚴重狀況將轉送附近醫院

      #### 地震
      會議地點建築是剛落成的鋼骨結構，不會輕易倒塌，發生地震請隨工作人員指示避難

      #### 火災
      會場備有消防系統，逃生規劃亦通過火災安檢，發生火災請隨工作人員指示避難

      #### 水災
      請大家使用攜帶的筆電當浮板， 可以撐到救難大隊來

      #### 核災
      會及時黑進核電廠控制室協助處理， 請不用擔心

    .title-wrapper
      %h3.title
        .span 其他問題
    :markdown

      #### 我還有其他問題，請問該怎麼聯絡你們？
      請隨時 mail 至  service@hitcon.org，我們會儘快與您聯絡。

      #### 我好喜歡駭客年會，我可以贊助嗎？
      請 mail 至 sponsorship@hitcon.org，會有專人與您聯繫贊助事宜。

      #### 我想要工作人員的LINE跟電話！
      請尊重個人意願。(嚴禁泡妞)

      #### 現場有問題怎麼辦？
      可以詢問工作人員，若他沒辦法回答您，他會替你想辦法的


