- content_for :hero do
  = render "/2014/hero-page"

.section.location
  .row.topic.article
    .objgroup
      / .obj-pointer.obj{ :"data-type" => "Pointer"}
    %h2.title HITCON X 10周年開跑了!!
    :markdown
      HITCON 要 10 週年了，回想起來，這真是個令人毛骨悚然的事情．因為我的人生中有約 1/3 跟 HITCON 有關，另一點代表著我跟這群瘋子混了 10 年！

      10 年之前我本來還是一個正常的阿宅，剛從研究所畢業，有個正常的工作，上班寫寫 code，下班逛逛藝廊或是寫寫書法，生活很一般，但是可能是因為我強大的程式開發天份，加上風靡萬人的嘴炮功力，因緣際會下，在「不正常人類研究中心」認識了一群腦袋不是很清楚的駭客們，搞得我現在好像也不太正常。10年之前，他們開始說要跟國外 DEFCON 一樣，辦一個有台味的駭客大會，讓很多檯面下的駭客們，有正式的交流管道，也希望促進政府與民間對於資安觀念的正確認識，簡單地說就是要辦死阿宅駭客們互相取暖的聯誼會。接著他們開始發神經，不知道哪來勇氣，要在台灣開始辦起第一個收費的社群研討會，連免費的都不知道有沒有人會來了，居然開始收費（到今日，HITCON 還是全世界最便宜的國際駭客大會）。回想起來，我依稀還記得前幾屆如魔咒般地幾乎每次都遇到變天跟颱風，因此網路上傳說每年到 HITCON 的時候，就是黑客們聚集，臺北烏雲密佈。在如此惡劣的條件下，居然還來了 120 人！

      在台灣，搞資安的人都是執著且熱情的瘋子，工作很累而且很難賺錢！我們雖然只是一個小到不行的小島，但其實資安的工作機會不少，因為在政府機關各長官、資安公司的長年努力不懈下，台灣在駭客活動與惡意程式數量上，始終保持在前三名，也被受國際資安圈的推崇。各種新物種與族群，像是 TaiDoor、PlugX... 往往都是在台灣發現最新版本，而過一段時間後才會在國外出現，在惡意程式生態學家眼中有著 ”The Island of APT“ 寶島台灣美譽。為了贊揚台灣的美好，也讓更多人認識資安技術，這群瘋子一路辦 HITCON，這樣居然也搞了10年。

      而今年，這群瘋子還在發神經......

      HITCON 是由業餘的社群主辦，能辦到去年 800人的規模已經很困難，大家都累翻了。而在今年籌辦會議時候，總召ＴＴ哥居然決定要分成兩場為期四天的資安週，要挑戰科學的極限，只能說「老闆真的瘋了」。但想想也還好，這幾年來也遇過很多阻礙，各種惡劣環境都搞不死我們了。再者，反正我們也沒正常過，就衝了吧。

      經過了 9 年，HITCON一直以高品質與充滿人情味的特色，引領亞太資安圈，現在已經成為亞太地區最盛大的資安大會，更是國際資安圈的指標之一，每年都有很多來自全世界各地的朋友來參加。現場與會人當然很多，許多規則需要各位遵守，請注意下列的資訊：

      * 總召的話 [http://hitcon.org/2014/announce/](http://hitcon.org/2014/announce/)
      * 最新資訊公佈於HITCON 官網 [http://hitcon.org/2014/](http://hitcon.org/2014/)
      * 部落格 [http://blog.hitcon.org/](http://blog.hitcon.org/)
      * Facebook  [http://fb.com/HITCON](http://fb.com/HITCON)
      * 聯絡信箱 service [at] hitcon.org

      HITCON 的 Wargame 比賽一直都是台灣駭客年會的重要活動，在今年改名為 HITCON CTF 由CTF 團隊籌劃， 這次也做了一些改變，詳情請見 http://hitcon.org/2014/CTF/ ．本屆比賽也是擴大舉辦，時間是8月16~18號，是在 HITCON 會議之前比賽，跟以往在會議同時舉辦不太一樣，請有興趣參賽的朋友特別注意．

      這次有兩場研討會，請各位準備發瘋來參加的人特別注意：

      HITCON X Enterprise: 企業大會
      2014/08/19 (二) ~ 2014/08/20 (三) 喜來登大飯店

      HITCON X Playground: 社群大會
      2014/08/21 (四) ~ 2014/08/22 (五) 中央研究院  人文社會科學館

      可以看成這兩場是同系列，但是不同場次，買的票或是投的稿件都是分開的。

      * 票：如果你只買了企業場的票，就只能去企業場，不能參加社群場．反之你只買社群場也只能到社群場。除非你兩場都買票。 [http://blog.hitcon.org/2014/06/hitcon-x.html](http://blog.hitcon.org/2014/06/hitcon-x.html)
      * 稿：投稿部分也是，你投稿企業場的話只能在企業場講，不能出席社群場（除非是大會邀請 VIP）[http://blog.hitcon.org/2014/05/hitcon-2014-call-for-paper.html](http://blog.hitcon.org/2014/05/hitcon-2014-call-for-paper.html)
      * 贊：贊助也是兩場也是分開的，但是我們很鼓勵贊助商可以一起兩場贊助，會有很好的優惠． [http://blog.hitcon.org/2014/05/hitcon-2014-call-for-sponsorship.html](http://blog.hitcon.org/2014/05/hitcon-2014-call-for-sponsorship.html)

      票，一直以來都是秒殺等級，去年就 180 秒賣完，今年還沒開始要賣，已經聽到很多人磨刀霍霍。假設你沒有買到的話，有幾個方式還可以拿到票，第一個方式是投稿，投稿的人即使沒有上，也有機會拿到贈票，我們很鼓勵台灣這邊的研究人員可以多多投稿，促進研究風氣。投稿很好上，請不用害羞儘量來投 ：）

      第二種方式就是透過贊助方式，贊助大會不但可以獲得駭客們的尊重跟肯定（我可以告訴你，這比去買防火牆跟掃毒軟體還有效），積累公司的正面公益形象，更可以獲得贈票，參與盛會，HITCON 常年以來是各資安公司爭先贊助的對象，如美國的微軟總部，趨勢科技，大陸360 與金山軟件等各大資安公司，當然今年我們也希望能有更多公司加入我們的贊助行列。

      各位，我們八月 HITCON 見 ！
