- content_for :hero do
  = render "/2014/hero-page"

.section.sponsor
  %h2.title Organizer / 主辦協辦

  .sponsor-group
    .row
      %a.block.block43{ :href => "http://www.chroot.org/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2014/images/sponsor/chroot.png);" }
        .block-content
          %h2.title
            %span.name CHROOT
          %p 主辦單位
      %a.block.block43{ :href => "http://www.kktix.cc/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2014/images/sponsor/kktix.png);" }
        .block-content
          %h2.title
            %span.name KKTIX
          %p 報名系統
      .block.block43
        .block-image{ :style => "background-image: url(/2014/images/sponsor/twisc.png);" }
        .block-content
          %h2.title
            %span.name TWIST
          %p 場地支援(PLG)
    .row
      %a.block.block43{ :href => "http://evendesign.tw/", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2014/images/sponsor/evendesign.png);" }
        .block-content
          %h2.title
            %span.name evendesign
          %p 網站與形象設計
      %a.block.block43
      %a.block.block43

  %h2.title Sponsor / 贊助商

  .sponsor-group
    // 天龍

    // 鑽石
    .row
      %a.block.block14.empty
      %a.block.block104{ :href => "http://www.trendmicro.tw/tw/index.html", :target => "_blank" }
        .badge 連續贊助 <em>5</em> 年榮耀
        .block-image{ :style => "background-image: url(/2014/images/sponsor/trend.png);" }
        .block-content
          %h2.title
            %span.name 趨勢科技 Trend Micro
          %p 鑽石級贊助商
      %a.block.block14.empty

    .row
      %a.block.block14.empty
      %a.block.block104{ :href => "http://www.kkbox.com/tw/tc/index.html", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2014/images/sponsor/kkbox.png);" }
        .block-content
          %h2.title
            %span.name KKBOX
          %p 鑽石級贊助商
      %a.block.block14.empty
    //白金
    .row
      %a.block.block32.empty
      %a.block.block64{ :href => "http://www8.hp.com/tw/zh/home.html", :target => "_blank" }
        .block-image{ :style => "background-image: url(/2014/images/sponsor/hp.png);" }
        .block-content
          %h2.title
            %span.name HP
          %p 白金級贊助商
      %a.block.block32.empty
