#day1
  %h2.title Agenda / 議程表
  .date-block
    %p
      8/19 企業場第一天
      %small <a href="#day2">跳到第二天 day 8/20 →</a>
  .agenda-table
    .time-block 08:50

    %section.session.room-all
      .room.r1 R1
      .room.r2 R2
      %h3.title 總召致詞、Openning
      %time     08:50-09:10 (20 mins)

    .time-block 09:20

    %section.session.room-all
      .room.r1 R1
      .room.r2 R2
      %h3.title Uncover APTs in the Kill Chain with Intelligence-Driven, Big Data Approaches
      .speaker Yitzhak (Itzik) Vager, VP Product Management & Business Development, Verint Systems
      %time     09:20-10:00 (40 mins)

    .time-block 10:10

    %section.session.room-all
      .room.r1 R1
      .room.r2 R2
      %h3.title The Anatomy of a DDoS Attack
      .speaker Matthew Prince, CloudFlare CEO
      %time     10:10-10:50 (40 mins)

    .time-block 10:50

    %section.session.room-all
      %h3.title Break
      %time     10:50-11:10 (20 mins)

    .time-block 11:10

    %section.session.room-all
      %h3.title HITCON如何適應新時代資安威脅座談會/ HITCON X 桌遊介紹
      .speaker HITCON 團隊
      %time     11:10-11:50 (40 mins)

    .time-block 11:50

    %section.session.room-all
      %h3.title Launch
      %time     11:50-13:10 (70 mins)

    .time-block 13:20

    .row
      %section.session.ent.room-r1
        %h3.title Insecure Internal Storage in Android
        .speaker  Claud Xiao
        %time     13:20-14:00 (40 mins)

      %section.session.ent.room-r2
        %h3.title Uroburos rootkit
        .speaker Paul Rascagneres
        %time     13:20-14:00 (40 mins)

    .time-block 14:10

    .row
      %section.session.ent.room-r1
        %h3.title Bitcoin Security
        .speaker  林志宏
        %time     14:10-14:50 (40 mins)

      %section.session.ent.room-r2
        %h3.title IE 11 0day & Windows 8.1 Exploit
        .speaker  exp-sky
        %time     14:10-14:50 (40 mins)

    .time-block 15:00

    .row
      %section.session.ent.room-r1
        %h3.title A fairy tale of a fictional country
        .speaker  Kazy
        %time     15:00-15:50 (40 mins)

      %section.session.ent.room-r2
        %h3.title Android 頑固木馬常見手法與清理
        .speaker  趙閩
        %time     15:00-15:50 (40 mins)

    .time-block 15:40

    %section.session.room-all
      %h3.title Break
      %time     15:40-16:00 (20 mins)

    .time-block 16:00

    .row
      %section.session.ent.room-r1
        %h3.title 被遺忘的資訊洩漏 / Information Leakage in Taiwan
        .speaker  Shaolin Hsu
        %time     16:00-16:40 (40 mins)

      %section.session.ent.room-r2
        %h3.title 常規攻擊的實時檢測
        .speaker  羅啟武
        %time     16:00-16:40 (40 mins)

    .time-block 16:40

    %section.session.room-all
      %h3.title Closing
      %time     16:40-17:00 (20 mins)






