#day2
  .date-block
    %p
      8/20 HITCON X ENT 企業場第二天
  .agenda-table
    .time-block 08:30

    %section.session.room-all
      .room.r1 R1
      .room.r2 R2
      %h3.title
        %a.lightbox{ :href => "#ent-day2-session1" }
          Everyday is Zero Day, Today is Flash Player
      .speaker Max Cheng (Chief Core Technology Officer), Lucas Leong, Trend Micro
      %time     08:30-09:10 (40 mins)

    .time-block 09:20

    %section.session.room-all
      .room.r1 R1
      .room.r2 R2
      %h3.title
        %a.lightbox{ :href => "#ent-day2-session2" }
          行動 APP 檢測與鑑識
      .speaker 施汎勳
      %time     09:20-10:00 (40 mins)

    .time-block 10:00

    %section.session.room-all
      %h3.title Break
      %time     10:00-10:30 (30 mins)

    .time-block 10:30

    .row
      %section.session.ent.room-r1
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session3"}
            安全社區的營運與經驗
        .speaker  段鋼
        %time     10:30-11:10 (40 mins)
      %section.session.ent.room-r2
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session4" }
            寄生在騰訊業務下的黑色產業
        .speaker  畢裕
        %time     10:30-11:10 (40 mins)

    .time-block 11:20

    .row
      %section.session.ent.room-r1
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session5" }
            Living with compromise: Enterprise Network Survival in tough Russian Environment
        .speaker  Vladimir Kropotov
        %time     11:20-12:00 (40 mins)
      %section.session.ent.room-r2
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session6" }
            Make a secure mobile payment
        .speaker  Yongjun Park
        %time     11:20-12:00 (40 mins)

    .time-block 12:00

    %section.session.room-all
      %h3.title Lunch
      %time     12:00-13:10 (70 mins)

    .time-block 13:10

    .row
      %section.session.ent.room-r1
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session7" }
            前進拉斯維加斯 - 2014 HITCON 戰隊 CTF 比賽經驗分享
        .speaker  Alan / Orange
        %time     13:10-13:50 (40 mins)

      %section.session.ent.room-r2
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session8" }
            Cyber Attack Reveal and Protection
        .speaker  石謂龍
        %time     13:10-13:50 (40 mins)

    .time-block 14:00

    .row
      %section.session.ent.room-r1
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session9" }
            Open Source and CSIRT - How can we help?
        .speaker  Shin Adachi & Yoshiki Sugiura
        %time     14:00-14:40 (40 mins)

      %section.session.ent.room-r2
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session10" }
            烏雲這幾年運作的心得及優缺點
        .speaker  劍心
        %time     14:00-14:40 (40 mins)

    .time-block 14:40

    %section.session.room-all
      %h3.title Break
      %time     14:40-15:10 (30 mins)

    .time-block 15:10

    .row
      %section.session.ent.room-r1
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session11" }
            Who Is Attacking You?  Distinguishing Motivation to Prioritize Threats
        .speaker  John Hultquist
        %time     15:10-15:50 (40 mins)

      %section.session.ent.room-r2
        %h3.title
          %a.lightbox{ :href => "#ent-day3-session12" }
            Operation Windigo – Analysis of a large Linux server-side credential-stealing malware campaign
        .speaker  Sieng Chye Oh
        %time     15:10-15:50 (40 mins)

    .time-block 16:00

    .row
      %section.session.ent.room-r1
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session13" }
            盤古如何實現完美越獄
        .speaker  盤古團隊
        %time     16:00-16:40 (40 mins)

      %section.session.ent.room-r2
        %h3.title
          %a.lightbox{ :href => "#ent-day2-session14" }
            Knock? Knock? Who is There? APT Malware Attribution
        .speaker  Frankie Li
        %time     16:00-16:40 (40 mins)

    .time-block 16:40

    %section.session.room-all
      %h3.title Closing
      %time     16:40-17:00 (20 mins)






