#plg-day1-session1.session-box
  -#-------------------------------------------
  .title
  .speaker
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
    .en
  -# 議程說明
  .session-note
    .zh
    .en
#plg-day1-session2.session-box
  -#-------------------------------------------
  .title      BinProxy: New Paradigm of Binary Analysis With Your Favorite Web Proxy
  .speaker    DongJoo Ha &Hyunwoo Choi &SunyoungSim&Joobong Cho &Jisun Kim &Gyeongik Jang
  .company
  .download   <a href="../downloads/P1_02_DongJoo Ha - Binproxy.pptx">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      :markdown
        **Dongjoo Ha (@ChakYi)** is a director of NSHC Pte, ltd. His main job is
        finding 0day
        and he is interested in security threat research and any
        fun stuff even if that is not related with hacking, security or IT. He
        has worked as a pentester
        and security researcher for malware and
        network security analysis. He has presented at various hacking and
        security conferences such as Black Hat, DEF CON, CanSecWest & PacSec,
        AVTOKYO, PADOCON and POC with his lovely friends. He also enjoys
        playing Capture The Flag with his awesome friends.

        **Hyunwoo Choi (@zemisolsol)** is a Ph.D. student in Graduate School of
        Information Security at KAIST. His research interests include finding
        vulnerabilities in embedded systems.

        **Sunyoung Sim (@redhidden)** is a security researcher who works for
        AhnLab, Inc. a company focusing on AV. She has over 10 years experience
        in malicious Code analysis, network analysis and vulnerability
        analysis.

        **Joobong Cho (@silverbug)** is a hacker and security researcher at
        RaonWhitehat, Inc. He is interested in web hacking, malicious code
        analysis, vulnerability analysis, including on mobile platform.

        **Jisun Kim (@jisunkim272)** is a software developer of security products
        at AhnLab, Inc. She is interested in overall security field and study
        on it.

        **Gyeongik Jang (@iksploit)** is a security researcher at NSHC Pte, ltd.
        His main job is research malware and 0days.
        He is interested in mobile
        vulnerability.

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p
        With the rapid development of information technology, the attackers
        have become interested in not only normal applications but also various
        systems such as web, mobile and embedded system. Consequently, there is
        an evergrowing
        number of applications that should be analyzed, and the
        lack of time and manpower has been one of the biggest problems for the
        defenders.
        To this end, we present “BinProxy”, an application analysis framework
        that makes an easy environment for dynamic analysis of applications.
        Our approach provides web proxylike
        analysis environments for an easy
        analysis, and does not required any analysis tools such as debugger,
        decompiler and other reversing tools. Furthermore, BinProxy can be
        applied to Windows, Linux, Mac or other kinds of mobile platforms
        including Android and iOS.
        In this presentation, we show several techniques for implementing
        BinProxy and demonstrate some use cases by using BinProxy. We believe
        that our framework solves the lack of time and manpower problem and
        presents a new paradigm for program analysis.

#plg-day1-session3.session-box
  -#-------------------------------------------
  .title AV 已死？消費領域的惡意軟體趨勢及應對
  .speaker 裴偉偉
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 裴偉偉，IDF實驗室研究員及團隊負責人。2007年起關注信息安全領域，曾經在中地數碼、神州數碼從事軟件研發及大數據分析與處理工作，後加入IDF實驗室從事安全服務項目管理、系統及應用安全研究以及團隊管理工作，曾數次擔任過外企及合資企業的安全服務項目項目經理。
    .en
      %p Pei, Wei-Wei is both the team lead and lab researcher of IDE lab. He has first developed his interests in information security since 2007, and had joined Zondy Cyber and Digital China participating in software development and big data processing and analysis. Later he joined IDF lab and devoted himself to security service management, system and applications security research as well as internal team management. He has served as Security Service Manager several times in either foreign or Taiwan funded enterprises.
  -# 議程說明
  .session-note
    .zh
      %p 隨著惡意軟件與AV廠商的對抗升級，AV唱衰之聲不絕于耳，同時APT時代的到來使得衆多廠商和個人開始鍾情于“APT”中的“Advanced”，但消費者層面却面臨著這種技術對抗趨勢下的“人爲刀俎我爲魚肉”之窘迫，在AV唱衰之際作爲信息安全從業者和愛好者能够做些什麽，消費領域惡意軟件趨勢又當如何，AV廠商又當如何應對這種趨勢。
    .en
      %p N/A

#plg-day1-session4.session-box
  -#-------------------------------------------
  .title 雲端系統登入安全分析 - 以全球網路銀行密碼輸入安全系統為例
  .speaker Guide Wang
  .company
  .download   <a href="../downloads/P3_04_Guide Wang - 雲端登入安全分析.pptx">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p
        王基旆 (Guide Wang) 2009年創立奧樂科技
        奧樂科技現任總經理、台灣網站防護協會常務理事
        1994年畢於國立交通大學資工系(1994), 2013年畢於國立交通大學EMBA
        Guide 於大學在校期間(1990~1994) 即研究 FreeBSD, NetBSD, Linux 等等 UNIX 系業系統，台灣第一代網路宅男、駭客。
        在校期間即翻譯、著作（代筆）多部電腦書： PC Hardware DIY、Internet DIY、UNIX API 等，為20年前「Advanced Windows Socket Programming」中文電腦書「深入Windows Socket程式設計」譯者（筆名王遠杋），協助台灣早期 Windows 網路程式設計的推廣 。

    .en
      %p Guide Wang founded THE Technology Inc. in 2009, and now serves as director in THE Technology Inc. and executive committee at Taiwan Internet Association.
      %p He got a bachelor's degree of Information Engineering in NCTU (National Chiao Tung University) in 1994, and received his master's degree of EMBA in the same school in 2013.
      %p During his college years (1990~1994), he had studied FreeBSD, NetBSD, Linux etc. systems, which are based in UNIX, and was proud to be the first generation of hacker and Internet geek in Taiwan. In addition to that, he also translated and composed many computer book series: PC Hardware DIY, Internet DIY, and UNIX API etc. One of his well-known translation work is "深入Windows Socket程式設計", the Chinese translation of 'Advanced Windows Socket Programming' (with his pen name: Wang, Yuan-Fan ). He had great contribution to the early Windows Internet programming promotion.

  -# 議程說明
  .session-note
    .zh
      %p 雲端運算讓使用者透過智慧型裝置（個人電腦、平板電腦、智慧型手機）遠端登入系統，隨時可以取得存放在雲端的資料與各項服務。在駭客無所不在、無所不能的網路時代，駭客最常利用鍵盤側錄、網路側錄等等技術，取得端點使用者之帳號與密碼，冒名登入雲端系統，盗取、破壞企業或組織有價值的資料、伺服器，造成嚴重之後果。針對雲端運算、電腦網路系統身份認證、登入之安全，本研究舉例南韓與大陸網路銀行目前使用的軟體輸入保護系統進行弱點分析、探討其面臨的問題，並進一步提出改善其系統的實際方法。
    .en
      %p N/A

#plg-day1-session5.session-box
  -#-------------------------------------------
  .title APT Backdoor Connection Evolution in Taiwan
  .speaker Dove Chiu
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p
        Threat Solution Team, Incident Response Team, TrendMicro.
        An APT researcher in Taiwan, had about 6 years in IR experiences.
        Major in forensic analysis, reverse engineering, and some simple exploit code writing.
        I like the sense of accomplishment after solving problems, also like to watch movies & eating cookies.

  -# 議程說明
  .session-note
    .zh
      %p 有許多台灣實際案例指出，後門程式在APT中扮演了一個相當重要的角色。除了在攻擊發起後能控制電腦外，駭客也用來進行內網入侵與擴散。後門程式必須先通過網路連線，才能受到遠端駭客的控制。從攻擊台灣的APT後門程式中，以網路連線的角度，研究後門如何bypass各式阻擋方法，以及它們的演進。以技術出現先後順序來說，誰先誰後已不可考。本議程也會詳加探討被應用於台灣APT案件中的手法與技巧，以IR與forensic方法，從中研究駭客如何設計後門與流量。並由資安防護的角度進行整理，可看出一些駭客的巧思
    .en
      %p N/A
#plg-day1-session6.session-box
  -#-------------------------------------------
  .title Smashing The Browser - From Vulnerability Discovery To Exploit
  .speaker demi6od
  .company
  .download   <a href="../downloads/P1_06_Chen Zhang - Smashing The Browser - From Vulnerability Discovery To Exploit.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      :markdown
        Chen Zhang (@demi6od) https://github.com/demi6od<br />
        Shanghai Jiao Tong University / Information Security: 4 + 3 years<br />
        NSFOCUS Security Team / Security Researcher: 2+ years

        #### Research Interests:

        * Browser security
        * Vulnerability analysis, discovery and exploit
        * APT/0 day detection R&D

  -# 議程說明
  .session-note
    .zh
      :markdown

        擊碎瀏覽器 - 從漏洞發掘到漏洞利用

        #### Part 1: 瀏覽器Fuzzing技術
        介紹一套獨自開發的Fuzzer框架，以及該框架背後的Fuzzing策略
        通過該Fuzzer發現的一系列漏洞，總結了幾種行之有效的Fuzzing思路以及相應的漏洞特徵

        #### Part 2: 瀏覽器高級利用技術
        簡單介紹現代瀏覽器的安全模型和攻防對抗
        分析Google Chrome和IE 11下的各種堆管理機制和缺陷，以及一些高可利用性的數據結構
        基于上述內容，分析兩種瀏覽器下的高級利用技術，包括兩種針對Google Chrome的創新利用方法，其中一種不受沙盒限制（Demo）。
        最後總結ASLR和DEP兩種防護機制的困境。

        #### Part 3: IE 11 0day漏洞利用開發
        基于一個Fuzzing出的IE 11釋放後重用漏洞，分享從漏洞觸發到任意代碼執行的完整利用開發過程，及其中所涉及的各種技術與技巧（Demo）。
        最後給大會帶來一個特殊有趣且未公開的IE 11 0day（不受隔離堆和保護釋放影響），作爲禮物和挑戰:)
    .en
      :markdown
        Smashing The Browser - From Vulnerability Discovery To Exploit

        #### Part 1: Browser Fuzzing Technology
        Introduce a Fuzzer Framework developed by myself as well as the Fuzzing strategies behind it.
        Conclude some effective Fuzzing ideas and related vulnerabilities based on the results of the Fuzzer.

        #### Part 2: Advance Browser Exploit Technology
        Brief introduce the security model of modern browsers as well as the combat between exploit and mitigation.
        Introduce all kinds of heap management mechanisms and their defects together with some exploit-friendly data structures of Google Chrome and IE 11.
        Analyze the advance exploit technologies of these two browsers, including two novel exploitation techniques of Google Chrome, one of which is not limited by sandbox (Demo).
        Finally conclude the dilemmas of ASLR and DEP.

        #### Part 3: IE 11 0day Exploit Development
        After taking one IE 11 UAF vulnerability from my Fuzzer, I will share the whole exploit developing experience from vulnerability trigger to arbitrary code execute, together with all related technologies and skills (Demo).

        At last, I will bring a special, interesting and undisclosed IE 11 0day (not affected by isolated heap and protected free) to HITCON as gift and challenge:)

#plg-day1-session7.session-box
  -#-------------------------------------------
  .title Fast Track of Mac Memory Forensics - WeChat Analysis and Security Reveal in a live system
  .speaker Kelvin Wong & Eric Fan
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Captain Kelvin (a.k.a Forensics Ninja) works in Law Enforcement Agency in HK and has over ten years experience in computer forensics and investigation.  He has delivered ‘Network Forensics’ workshop at DFRWS EU 2014 and CeCOS VIII; presented ‘DDoS’ research study at DefCON 20 and AVTokyo 2012; and he also published the research paper ‘Facebook Forensics 2011’ and presented at HTCIA (APAC).
  -# 議程說明
  .session-note
    .zh
      %P N/A
    .en
      %p Rapidly growth of the use of Mac OS X requires forensics researchers to analyse devices such as iPad, iPhone and Mac in depth. OS X forensics really starting with Jonathan Zdziarski in 2008, but soon became widespread with most of the research and training focused on file system analysis. There are a number of tools available to analyse OS X, e.g. Volatility, Volafox, Memoryze for Mac, Mac Memory Reader, MacLockPick and Rekall, however the ability to analyse mac memory can be complex and disconcerting to the novice. We have attempted in this article to demonstrate a fast track method of mac memory forensic analysis by studying the evidence of a very popular Chinese social networking application ‘WeChat’.  These applications provide not only a smart phone but also a desktop version. Therefore, we cannot ignore any possibility of evidence in either the file system or memory from a desktop machine. Memory analysis is an important intersection, therefore in this article we will examine the memory dump from a Mac machine, by acquisition, process analysis and data collection through an example of running WeChat on OS X.

#plg-day1-session8.session-box
  -#-------------------------------------------
  .title
  .speaker
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
    .en
  -# 議程說明
  .session-note
    .zh
    .en


#plg-day1-session9.session-box
  -#-------------------------------------------
  .title On the Feasibility of Automatically Generating Android Component Hijacking Exploits
  .speaker Daoyuan Wu
  .company
  .download   <a href="../downloads/P1_09_Daoyuan Wu - On the Feasibility of Automatically Generating Android Component Hijacking Exploits.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      :markdown
        香港理工大学研究型硕士，专注移动安全中的漏洞挖掘。

        1. 主要成果包括Android Content Provider Vulnerabilities和Exposed Component Vulnerability的检测, FileCross attacks和Android Remote Code Execution Vulnerabilities的检测。
        2. 汇报了主流app里的多个严重的漏洞，包括Firefox, Evernote, Yandex, Baidu, Tencent, Alibaba, 360, UC, Maxthon等。已收到数个bug bounty rewards。
    .en
      :markdown
        Daoyuan Wu has a research master's degree from Hong Kong Polytechnic University, focused on mining vulnerabilities in mobile security.

        1. His main achievements included detection in the following area: Android Content Provider Vulnerabilities, Exposed Component Vulnerability, FileCross attacks, and Android Remote COde Execution Vulnerabilities.
        2. He has reported several serious vulnerabilities in mainstream apps, including FireFox, Evernote, Yandex, Baidu, Tencent, Alibaba, 360, UC, Maxthon etc., and received a few bug bounty rewards.

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p
        In this talk, we conduct an empirical study to explore the feasibility
        of automatically generating exploits for vetting component hijacking
        vulnerabilities in Android apps. Our study takes our hands-on exploit
        analysis for several real vulnerable apps as basis, and meanwhile
        reflects them to high-level analysis. Through this process, we
        identify several challenges that need to be addressed for a robust
        exploit generation technique, and some of them are first pinpointed.
        In particular, we believe one challenge is nearly impossible to be
        automatically tackled, if no pre-prepared domain knowledge is
        involved. Overall, an automatic, accurate, and efficient solution for
        generating component hijacking exploits remains enough room to
        explore.

#plg-day1-session10.session-box
  -#-------------------------------------------
  .title Play Flappy Bird while you pentest Android in style
  .speaker Chris Liu & Matthew Lionetti
  .company
  .download   <a href="../downloads/P1_10_Chris Liu - Matthew Lionetti - TackyDroid Slides.pptx">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Chris Liu is a member of the security team at Rakuten, Inc., a Tokyo based e-commerce company. His passion is in reverse engineering and malware analysis, but is currently conducting security assessment and penetration testing for web and mobile applications. He is currently involved in making automated tools for both web and Android vulnerability assessment and sometimes does malware analysis for Japanese banks. Mr. Liu is also working as a guest researcher in a Japanese university while giving lectures to the new minds of future security pioneers.

      %p Matthew Lionetti is a member of the security team at Rakuten, Inc. Although being an experienced web application and network penetration tester, Mr. Lionetti is currently in charge of creating coding guidelines, and implementing Android vulnerability assessment automation into the development lifecycle at Rakuten. Off work, Mr. Lionetti enjoys playing lead guitar for his metal band and bug hunting while drinking beer.

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p Vulnerability assessment for mobiles applications are boring as hell, since when did we start living in a world where storing credentials inside the sandbox becoming a crime? There's simply no excitement left within except for the web APIs being called, so it is time to step up and change it. Hereby we propose the very first interactive proxy that runs inside your Android device. With this novel transparent proxy tool, not only we can test browser contents on the go but also mobile applications that utilize web APIs(which application doesn’t right?). This proxy will give you the ability to modify requests and responses on the fly and act as a fuzzer, either actively or passively.

      %p The main highlight of this proxy is not the proxy itself, but the ability to utilize overlays in Android. This allows a user to have a fully interactive proxy overlaying a web browser or application without the need to constantly switch between activities. The overlay can be called or minimized in a single touch when needed without affecting the already running activity, thus removing the need for a secondary device.

      %p So why waste your time setting up devices to run your proxy tool when you can do your scans while on the bus or as you try to beat your last highscore in flappy bird. Join us, because we will be penetration testing Android in style.

#plg-day1-session11.session-box
  -#-------------------------------------------
  .title 掃吧你！從協議面抓出機歪的遠端桌面後門
  .speaker Orange Tsai
  .company
  .download   <a href="../downloads/P1_11_Orange - RDP.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p
        蔡政達 aka Orange
      %p
        CHROOT 成員，並於 <a href="http://devco.re">DEVCORE</a> 擔任資安顧問。
        <br /><br />
        主要專精於網站安全以及網路滲透的領域上，
        並且對於漏洞發掘、漏洞利用以及 CTF Games 也有極大興趣！<br /><br />
        曾公開發表過 Microsoft, Django, Yahoo 等 CVE 與弱點。<br />
        <br />
        Blog: <a href="http://blog.orange.tw/">http://blog.orange.tw/</a><br />
        Facebook: <a href="http://fb.com/Orange.8361">http://fb.com/Orange.8361</a>

    .en
      :markdown
        Tsai Cheng-Da a.k.a Orange

        * CHROOT Security Group Member
        * Cyber security consultant at <a href="http://devco.re">DEVCORE</a>

        Orange specializes in the realm of website security and network penetration, and shows great interests in vulnerabilities mining and exploitation, and ... CTF Games!<br />
        He has published several CVEs and vulnerabilities with regards to Microsoft, Django, and Yahoo etc.<br />
        Blog: <a href="http://blog.orange.tw/">http://blog.orange.tw/</a><br />
        Facebook: <a href="http://fb.com/Orange.8361">http://fb.com/Orange.8361</a>

  -# 議程說明
  .session-note
    .zh
      :markdown
        相黏鍵後門被稱為是一個具有中國駭客特色的後門，
        而為了要預防自己的後門被發現，這類型的後門發展了許多有創意的方式來達到隱藏自己的目的。

        這場演講將會介紹有關於相黏鍵後門的發展、隱藏方式、一些有趣案例，
        並希望從協議層來檢測這種類型的後門，
        所以這場演講也會探討遠端桌面相關的協議以及實做，從 Protocol Negotiation, Key Exchange, Encryption 到伺服器與客戶端交換指令、資料等。

        最後，將會提出我自己的解決方案，如何從協議上實做檢測與在實做上遇到許多的困難、挑戰以及解決辦法。
    .en
      %p N/A
#plg-day1-session12.session-box
  -#-------------------------------------------
  .title Guess Where I am: Android 模擬器躲避的檢測與應對
  .speaker 胡文君
  .company
  .download   <a href="../downloads/P1_12_胡文君 - Guess Where I am-Android模拟器躲避的检测与应对.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Wen-Juin Hu (a.k.a. MindMac) is currently pursuing his master degree at Xi'an Jiaotong University. His research interest mainly focuses on Android malicious code detection and Android application analysis.  He developed SandDroid (automatic Android application analyzer, http://sanddroid.xjtu.edu.cn) and AndroMalShare (Android malicious code sharing system, http://202.117.54.231:8080).  He gave security relative speeches on xKungFoo 2012 and xKungFoo 2013.

  -# 議程說明
  .session-note
    .zh
      :markdown
         本議題在近年來Android模擬器檢測技術的基礎上，設計實現了Android應用程序中模擬器檢測行爲的識別，通過對大量真實數據的測試，發現模擬器檢測技術使用十分普遍。而絕大部分Android軟件自動化分析系統建立在Android模擬器上，因此反模擬器行爲的檢測以及構建更加真實的模擬器意義重大。本議題根據不同的模擬器檢測方法，以構建開發方便、高度可定制、部署容易爲目標，針對性地提出相應的解决措施。

        #### 總之，本議題嘗試解决如下問題：

        1. 如何判斷Android應用程序是否存在反模擬器行爲？
        2. 真實世界中，有多大比例的應用程序會進行模擬器檢測？采用何種手段進行檢測？檢測模擬器的目的是什麽？
        3  如何構造更真實的模擬器，欺騙應用程序其運行在真機環境？
    .en
      %p N/A
#plg-day1-session13.session-box
  -#-------------------------------------------
  .title DroidDolphin: a Dynamic Android Malware Detection Framework Using Big Data and Machine Learning
  .speaker 吳文傑
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Shih-Hao Hung and Wen-Chieh Wu. DroidDolphin: a Dynamic Android Malware Detection Framework Using Big Data and Machine Learning. In Proceedings of the 2014 Research in Adaptive and Convergent Systems (RACS '14). ACM, New York, NY, USA

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p Smartphones are getting more and more popular nowadayswith various kinds of applications to make our lives moreconvenient. Unfortunately, as there are more and more applications, malicious applications, also known as malware,arises as well. A user is often tempted into install a malwarewithout any awareness, and the malware steals the users’ personal information. Some malware would send SMS ormake phone calls, which result in additional charges. Thus,detection of malware is critical to protect smartphone users.
      This talk is about a dynamic analysis framework to detect Android malware which leverages the technique of the machine learning.We will introduce how we obtained the information from the Android packages and the machine learning features with a demonstration. Feel free to join us and enjoy the talk.

#plg-day1-session14.session-box
  -#-------------------------------------------
  .title HITCON CTF 你不知道的數據與祕辛
  .speaker Alan Lee
  .company
  .download   <a href="../downloads/P1_14_Alan - HITCON CTF 你不知道的數據與祕辛.pptx">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p N/A

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p N/A

#plg-day1-session15.session-box
  -#-------------------------------------------
  .title CRAX: An Automatically Exploit Generating System
  .speaker Lance Chen
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p
        Lance Chen has just graduated from the Institute of Computer Science
        and Engineering, NCTU and is looking for his first job. Lance is
        trying to become a open source contributor instead of just a user by
        contributing bug fixes to popular open source projects. Lance has been
        a part-time system and network administrator in Computer Center,
        Department of Computer Science, NCTU for four years, and enjoys
        dealing with system/service problems and bringing in popular
        technology.

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p
        CRAX stands for CRash analysis for Automatic eXploit generation. CRAX
        aims at generating software exploit automatically by analyzing
        software crashes with symbolic execution. CRAX is not only focusing on
        Linux/Windows applications, but also taking steps to web techniques
        (XSS and SQL injection) and mobile platform (Android) hacking.

#plg-day1-session16.session-box
  -#-------------------------------------------
  .title 出手偷摸-摸透 iOS app 原來那麼簡單
  .speaker 何宜霖 L10 Ho
  .company
  .download   <a href="../downloads/P1_016_L1oHo - 動手摸摸，看透iOS app 原來那麼簡單.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      :markdown
        * Hacker attack techniques, digital forensics process, App security testing, and App development.

        #### Experience:

        Worked at  Acer Information Security Systems Department, Information Security Operations Division. (2013)

        1. handled information security incidents forensics
        2. developed Arcsight FSA
        3. conducted testing of Arcsight Agent

        #### Programming skills:

        * Python、HTML5、Objective-C、C#、PHP、ASP.NET、Javascript、SQL

  -# 議程說明
  .session-note
    .zh
      %p 近年來，行動裝置興起，各式各樣的App，改變使用者日常行為及工作習慣。根據國外Appthority報告指出，最熱門的100個手機應用程式中，95%的App會洩漏使用者隱私資訊，且iOS平台的AppStore上App數量已經破百萬，因而對於iOS上的App安全性受到矚目。本研究以iOS平台上的App為例，透過行動應用程式安全檢測的參考標的OWASPTop 10 Mobile 2014 RC1，搭配免費的檢測工具來分析，目前政府提供的熱門便民App，實際檢查app安全性。
    .en
      %p N/A
#plg-day1-session6.session-box
  -#-------------------------------------------
  .title
  .speaker
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
    .en
  -# 議程說明
  .session-note
    .zh
    .en

