#ent-day2-session1.session-box
  -#-------------------------------------------
  .title      Everyday is Zero Day, Today is Flash Player
  .speaker    Max Cheng & Lucas Leong, Trend Micro
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p As CIO and Chief Core Technology Officer, Max Cheng is responsible for overseeing Information Services and Security.
      %p Max has held several executive positions at Trend Micro. He managed TrendLabsSM, Trend Micro’s global research and support headquarters based in Manila. Under his leadership, TrendLabs became one of the world’s leading antivirus research and product support services. He has also served as head of the global sales engineering, antivirus research and global technical support groups, and general manager of the enterprise business unit.
      %p Max holds a master’s degree in business administration from the University of California, Los Angeles.
      %p Lucas Leong (aka wmliang) just graduated from NCTU Software Exploitation Lab (aka 0-Day Lab).
      %p Now, he works as a security researcher at Trend Micro.
      %p He recommends to think as attacker and fight against in-the-wild targeted attack.
      %p His research mainly focus on document exploitation, reverse engineering and anti-virus engine.
      %p Also, he is the hobbyist of CTF contest in his daily life.

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p This is a story for the birth of a zero-day in Flash Player.
      %p I will share about the journey from crash to exploit.
      %p And how the challenge is overcame during the exploit development.
      %p Finally, I'll show how danger Flash exploit is.

#ent-day2-session2.session-box
  -#-------------------------------------------
  .title        行動 APP 檢測與鑑識
  .speaker      施汎勳
  .company
  .download   <a href="downloads/E2_02_施汎勳 - APP檢測與鑑識.pptx">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 現任中華電信資安檢測團隊工程師，從事資安相關研究與工作五年，過去曾執行大專院校、政府機關、企業專案與金融機構滲透測試，並協助分析公司內外部資安事件惡意程式樣本。
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p 行動資安現況概述
      %p APP檢測 & APP鑑識分析方法介紹
      %p APP檢測案例分享
      %p APP鑑識案例分享
    .en
      %p N/A
#ent-day2-session3.session-box
  -#-------------------------------------------
  .title        看雪安全社區的營運與經驗
  .speaker      段鋼
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 作爲國內最具知名度的軟件安全網絡社區－看雪軟件安全網站(www.pediy.com)的創始人，段鋼領導網站歷經10年多的發展，備受業內關注和推崇。看雪論壇憑藉自身實力，在成爲中國軟件安全領域公認的最權威的技術站點的同時，培養了一直綜合素質很高的管理和技術專業團隊，社會影響深遠。
      %p 作爲信息安全技術類圖書的知名作者，在管理和運作看雪論壇的10多年裏，不斷推出系列化的技術專著，社會效益明顯。與電子工業出版社，郵電出版社，機械電子出版社等知名出版機構有著良好的合作關係，組織原創及翻譯圖書約十餘本左右。同時與國內的安全企業，安全團隊有著密切合作關係，共同主辦過多次全國性信息安全活動，反響熱烈。知名的業內合作企業如深圳騰訊，珠海金山，綠盟科技，啓明星辰，comodo等公司。
      %p 2005年受邀進入盛大集團，先就職于SDG技術中心，之後盛大子公司焜安科技公司技術總監，2010年，出任盛大子公司北京盛安怡和公司總經理。與盛大高層領導，盛大首席運營官陳大年，盛大首席投資官朱海發，盛大創新院郭忠祥院長，盛大北京創新院負責人潘愛民博士，SDO技術總監朱敬，邊鋒集團總裁潘恩寧等關係良好。
      作爲資深軟件安全從業者，本人長期致力于IT安全相關領域的技術研究，對軟件安全相關領域有深刻的認識和理解。

    .en
      %p He is the founder of the famous software social security networking site "Pediy" (www.pediy.com). He led and evolved Pediy more than 10 year,  got lots of people's attention and praise. Pediy relied on strength itself and became to the most power of technical website that recognized by China software security field. At the same time, Pediy also trained high quality of management and technical team that has far-reaching impact on people's lives.
      %p He is the famous author of information security books and also constantly a series of technical books that got a higher significant of social benefits during past 10 years. He has a good and harmonious relationship between the Electronic Industry Press, Posts & Telecommunications Press and China Machine Press. He wrote and translated more than 10 books and clasped with the security company and security team such as Tencent, Kingsoft, NSFOCUS, Venustech and Comodo in China. He has co-hosted several national information security activities and got an overwhelming response.
      %p He was invited to join Shanda group in 2005 and stared the inauguration of SDG technical center, Chief Technology Officer of Beijing Kun An Information Technology. Afterward, he hold a post of General Manager in SafeWe. He also have a good relationship with the lead of Shanda group such as Chief Operating Officer - Chen Danian, Chief Investment Officer - Davis Zhu, the president of Shanda Innovations - Zhongxiang Guo, the leader of Shanda Innovations - Dr. Aimin Pan, Chief Technology Officer of SDO - Jing Zhu and Chief Executive Offcer of Bianfeng -  Enlin Pan.

  -# 議程說明
  .session-note
    .zh
      %p 看雪安全社區運營經驗談
      %p 以看雪學院15年的運營背景，談下安全網站的運營。
      :markdown
        1. 緣起：介紹爲什麽創建這個網站以及最初的構想；
        2. 修行：安全社區運營經驗，運營模式，網站的社會效益等；
        3. 濟人：提高大家安全意識、安全知識，人才培養， 安全人才職業發展規劃建議；
        4. 承繼：未來的規劃，對民間網絡安全網站發展的預測。

    .en
      %p N/A
#ent-day2-session4.session-box
  -#-------------------------------------------
  .title      寄生在騰訊業務下的黑色產業
  .speaker    畢裕
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 反病毒行業四年經驗，先後在金山毒霸及騰訊安全中心工作，近兩年專注于黑産的專項對抗，有效保護了騰訊賬號體系的安全，在這個過程中得到一些經驗，希望同大家學習討論。
    .en
      %p He has four years of experience on antivirus. His business background are Kingsoft Antivirus and Tencent. He foucs on against of hack industry to protect Tecent security. He got some experiences on his work and share it in the session.

  -# 議程說明
  .session-note
    .zh
      %p 騰訊的社交網絡擁有數億用戶，在這個龐大的群體下寄生著錯綜複雜的黑色産業以及數量同樣驚人的從業者。與黑産長期的對抗讓我們積累了一些經驗方法，希望通過分享這其中的一些故事與同行交流學習
    .en
      %p N/A
#ent-day2-session5.session-box
  -#-------------------------------------------
  .title Living with compromise: Enterprise Network Survival in tough Russian Environment
  .speaker Vladimir Kropotov
  .company
  .download   <a href="downloads/E2_05_Kropotov - Living with compromise - Enterprise Network Survival in tough Russian Environment.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Vladimir Kropotov is an independent security researcher and monitoring team lead. His main interests lie in network traffic analysis, incident response, botnet investigations, and cybercrime tracking. He is a frequent speaker at a number of conferences including HITB, CARO, PhDays and ZeroNights.
  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p The authors will present concept of compromise indicators in practical environment with numerous real-life examples from one of the large scale enterprise network. Sampled from one of the most malware-infested environments the authors will demonstrate tools, methods and methodology they have implemented to keep a massive network safe from both opportunist botnet herders and targeted attackers.
      %p The authors will demonstrate how  use of compromise indicators in pro-active incident response and forensic investigation process. The team has developed a framework and a platform that allows integration of various IOC formats into dynamic defense framework. The framework allows integration of various 3rd party-encoded indicators (such as CyBox, OpenIOC, etc.) and provides facilities to perform individual IOC characteristic mapping to known/existing Indicators of Compromise. The input can be provided in form of an IP address, a hash, a URL, a process of executable name, an executable behavior characteristic and so on. The output of indicators of compromise can be produced in form of: snort rule(s), Yara rule(s), or a hunt description for GRR Rapid Response Framework. The researchers will demonstrate an applied process of identifying, mining and refining IOCs as well as running "IOC sweeps" on available data sources. Several tools will be demonstrated (including passive DNS, passive HTTP frameworks developed by authors) in these examples as well as possibilities of integration with 3rd party tools, such as Splunk, Moloch.
      %p The researchers will also discuss the implementation of IOC sharing policies and facilitation of such shares and will walk attendees through series of simulated case studies including breach simulations, customized rootkits detection and use of framework to detect, refine, redeploy and sweep for potential indicators of compromise.

#ent-day2-session6.session-box
  -#-------------------------------------------
  .title Make a secure mobile payment
  .speaker Yongjun Park
  .company
  .download   <a href="downloads/E2_06_Yongjun Park - Make a secure mobile payment.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      :markdown
        #### Summary
        * IT security professional experience with financial IT architecture and payment security, research for security of new technology and trend analysis
        * Built incident response plans and developed countermeasures for threats of finance like DDoS, Phishing, transaction manipulation

        #### Specialties
        * Code review, dynamic testing, building testing methodologies and environments
        * Languages: Python, C, C++, PHP, Java Script and MFC
        * Proficiency with security tools like vulnerability scanner, network monitor, web proxy, debugger and other tools

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p Recently, many kinds of mobile payment have launched, and it has got a large share of payment transactions in the world. As we know that, a breach of payment is highly dangerous because it could be exploited to steal real money, directly.
      %p I have found diverse flows and vulnerabilities during security testing. Some of them could be used to acquire payment data and to change transactions. I will talk about threats of mobile payment and cases of vulnerability. Also, I am going to share how to test the security of mobile payment.

#ent-day2-session7.session-box
  -#-------------------------------------------
  .title 前進拉斯維加斯 - 2014 HITCON 戰隊 CTF 比賽經驗分享
  .speaker
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p Lun-Chuan Lee has more than fourteen years' experience on network security, including two years in network security lab at his MS degree, ten years at Chunghwa Telecom dealing with incidents and helping customers mitigate the damages, and two years project managing in cloud computing services. He is also an Electrical Engineering, PhD candidate at National Taiwan University, majoring in cloud computing and network security. He was the organizer of Hacks In Taiwan Conference (HITCON) 2012. He promotes HITCON CTF(capture the flag) to an international competition. 
      %p 蔡政達 aka Orange
      %p
        CHROOT 成員，並於 <a href="http://devco.re">DEVCORE</a> 擔任資安顧問。
      %p
        主要專精於 網站安全 以及 網路滲透 的領域上，
        並且對於漏洞發掘、漏洞利用以及 CTF Games 也有極大興趣！
        曾公開發表過 Microsoft, Django, Yahoo 等 CVE 與弱點。
      %p
        Blog: <a href='http://blog.orange.tw/'> http://blog.orange.tw/ </a>
        %br
        Facebook: <a href='http://fb.com/orange.8361'> http://fb.com/orange.8361 </a>
    .en
      %p Lun-Chuan Lee has more than fourteen years' experience on network security, including two years in network security lab at his MS degree, ten years at Chunghwa Telecom dealing with incidents and helping customers mitigate the damages, and two years project managing in cloud computing services. He is also an Electrical Engineering, PhD candidate at National Taiwan University, majoring in cloud computing and network security. He was the organizer of Hacks In Taiwan Conference (HITCON) 2012. He promotes HITCON CTF(capture the flag) to an international competition. 
      %p Tsai Cheng-Da a.k.a Orange
      %ul
        %li
          CHROOT Security Group Member
        %li
          Cyber security consultant at <a href="http://devco.re">DEVCORE</a>
      %p Orange specializes in the realm of website security and network penetration, and shows great interests in vulnerabilities mining and exploitation, and ... CTF Games! He has published several CVEs and vulnerabilities with regards to Microsoft, Django, and Yahoo etc.

  -# 議程說明
  .session-note
    .zh
      %p 台灣終於在今年取得駭客競賽世界盃 Defcon CTF 的門票了！
      從兩年前聽到日韓的資安社群發展，提供完整的資安技術人才的培育。便打算花費三年準備，希望有朝一日也能前往拉斯維加斯，看看人家的 CTF 比賽。
      今年五月，從沒打過 CTF 的台灣隊伍，臨時學習規則和戰術，意外地拿下 BCTF 冠軍。之後更團結各方優秀戰力，擠進了 DEFCON 決賽。這場演講，將由 HITCON 戰隊成員為各位說明2014這場奇蹟之旅，分享百度盃 BCTF、韓國 Secuinside、最後到美國拉斯維加斯 DEFCON CTF 的成長經驗！並且說明 CTF 解題思路，希望讓更多台灣的優秀駭客高手加入我們，繼續挑戰全世界。
    .en
      %p N/A
#ent-day2-session8.session-box
  -#-------------------------------------------
  .title 整合資安技術,建構完整防禦網最終章- 涵蓋零時差防禦,Botnet阻斷與消弭DDoS攻擊
  .speaker 石謂龍
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p HP亞太區TippingPoint解決方案顧問
      石謂龍從事IT工作逾15年，技術養成背景包括ISP網路工程師(L2 switching and L3 routing)、流量分析產品設計PM(L4 analysis)、資安SE與顧問(L7 inspection)。大多數的工作時間都在用戶端協助維運與除錯，累積豐富的實務經驗，超過二千場的演說與presentation資歷，能將實務經驗深入淺出讓與會者獲取所需資訊。石謂龍目前擔任HP亞太區暨日本TippingPoint方案的資安顧問，負責區域內的主要客戶，並協助新技術研發。
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p 人體要健康,病毒勿入.同樣的,提升資訊安全首重避免電腦遭到入侵,讓我們從日前喧騰一時的OpenSSL事件再次了解零時差攻擊手法與防禦之道. 而IT從業夥伴所關心的重要資料掉失問題則與內部潛在Botnet息息相關.我們很難避免電腦遭駭成為Botnet,因此強化Botnet活動監測並切斷其連繫通道會是最有效的處置之道.最後,如果擔任網路管理工作的您常常感到組織網路連線品質時而正常時而緩慢,究其根源往往與發生未預期的安全事件有關.面對越來越多樣也越強大的DDoS攻擊威脅,導入資安技術協助網路維運是立即要進行的必要作為.我們將為您說明如何透過層層過濾方式來消弭DDoS
    .en
      %p N/A
#ent-day2-session9.session-box
  -#-------------------------------------------
  .title Open Source and CSIRT - How can we help?
  .speaker Shin Adachi & Yoshiki Sugiura
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p
        Shin Adachi has been working on information system security, design, and administration globally including in the United States, Japan, and Europe.< br />
        He currently chairs Education Committee and is a Program Committee Member of FIRST, or Forum of Incident Response and Security Teams, a global consortium for computer security incident responders.<br />
        He represents NTT-CERT in the Americas. <br />
        He is a member of CERT Expert Group and Threat Landscape Working Group for ENISA, or European Union Agency for Network and Information Security. <br />
        He has contributed to globally recognized initiatives including NIST SP 500-291, NIST SP 500-293, Asia PKI Innovation Award as the chief reviewer, Liberty Alliance Project, Kantara Initiative, Security and IdM for Next Generation Network for ITU-T, and APEC TEL eSecurity.<br />
        He is a Certified Information Systems Security Professional (CISSP), a Certified Information Security Manager (CISM),  a Certified Information Systems Auditor (CISM), and a Certified Project Management Professional (PMP). <br />
        Yoshiki Sugiura has over 10 years' software development experience in a software company (1985-1998). <br />

        He has various background of working as security professional. He used be a member of national computer security team JPCERT/CC from 1998 to 2002.  He currently works for NTT-CERT and Inteli-CSIRT(IL-CSIRT).  NTT-CERT is a CSIRT for NTT Groups, which is one of a biggest Japanese telecommunication company. IL-CSIRT is a CSIRT for NTT DATA Intellilink Corporation, which is a subsidiary of NTT DATA Group.  He has 15 years' experience in IT security and CSIRT. <br />

        CSIRT stands for Computer Security Incident Response Team.  CSIRT's main mission is to control computer security incident. Another mission is collaboration with other teams. <br />

        He is a steering committee member of Nippon CSIRT Association (NCA). NCA is a community for CSIRTs in Japan. <br />

        He is a big fan of GNU/Linux system and he had written some articles ona magazine about GNU/Linux system several years ago.<br />

    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p Current computer systems and networks cannot exist without Open Source Software and even commercial software adopt it as components of their products.  On the other hand, however, a series of recent vulnerabilities found on major Open Source Software generated attacks on the network and concerns in the real world.  These vulnerabilities also revealed many different issues, which have been looked over, and which cannot be resolved by a silver bullet overnight.  But how the Incident Responders or CSIRTs could contribute to such situation, who respond to Computer Security Incidents everyday?
      %p This proposal proposes a presentation presented by two experts, to look at the current security issues of Open Source Software, two recent vulnerabilities as examples.  Then we will discuss and explain the possible model to mitigate the vulnerability, or to make the organization sustained, and how CSIRTs can contribute referring to the reference from NIST, expecting the audience for HITCON X Enterprise from business enterprises and government or nonprofit organizations, who are subject to be targeted.  The presentation will also cover various Open Source tools to monitor, protect, and analyze organizational computing environment.  This presentation tries to help users understand how CSIRTs can protect their computer resources based on specific examples and issues.
      %p This proposal assumes 30-40 minutes for presentation with 10~20 minutes for Question and Answers but open for suggestion and request from HITCON.
      %p This is a preliminary proposal to respond to Call for Proposals from HITCON 2014 before its deadline on or before July 5, 2014.  More details such as presentation slide deck can be provided upon request once this proposal is accepted.
      %p Questions and inquiries are welcomed and can be addressed at either of the contact for the proposer.

#ent-day2-session10.session-box
  -#-------------------------------------------
  .title 烏雲這幾年運作的心得及優缺點
  .speaker 劍心
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 安全團隊80sec創始人，前百度安全架構師，現烏雲漏洞報告平臺創始人。
    .en
      %p He is the founder of 80sec security team. Previous work experience with security architecture of Baidu, presently hold on post in  the founder of WooYun (WooYun.org).
  -# 議程說明
  .session-note
    .zh
      %p 安全實際上很難完全定義爲一個技術問題，我們認爲在實際環境裏有更多其他的因素來影響安全，我將分享我們創立烏雲的初衷以及實際運營的經驗以及從這運營的過程中我們得到的對于信息安全的理解。
    .en
      %p N/A
#ent-day2-session11.session-box
  -#-------------------------------------------
  .title Who Is Attacking You? Distinguishing Motivation to Prioritize Threats
  .speaker John Hultquist
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p John Hultquist leads the intelligence analysis team that tracks cyber espionage threats for iSIGHT Partners' government and commercial clients.  His team authored the NEWSCASTER report which uncovered a three-year Iranian campaign targeting US and Israel through social networks.  He has over seven years experience in covering emerging threats in cyber espionage and hacktivism, working in senior intelligence analysis positions in the US government prior to iSIGHT Partners.  Before working in the cyber realm, he worked with the ISACs and was involved in counterinsurgency operations in the military.
  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p The systems which run government and business are consistently under pressure from a multitude of adversaries with global origins, disparate capabilities, and a myriad of intentions and motivations.  Adversaries differ tremendously in the resources they are willing to devote, their intentions for targeted systems, and their capability to affect these systems.  Distinguishing between cyber criminals, hacktivists, and cyber espionage operators is the key to effectively focusing limited security resources in protecting the enterprise.
      %p Enterprises that are regularly targeted must make hard choices with their focus.  An opportunistic cybercriminal may be a threat to a single employee’s credit card number, while a cyber espionage operator may be a critical threat to valuable intellectual property. Brand-conscience firms may worry most about hacktivists.
      %p The process of distinguishing between adversaries is complicated by the proliferation of tools as well as tactics, techniques, and procedures, the inherent difficulty of attribution, and the involvement of third parties in adversary operations, but discerning the adversary’s motivation is a first step in drilling down to the fundamental questions of persistence, sophistication, and scope of threat.  This talk will cover practical techniques for determining motivation based on historic activity.


#ent-day2-session12.session-box
  -#-------------------------------------------
  .title Operation Windigo – Analysis of a large Linux server-side credential-stealing malware campaign
  .speaker SiengChye Oh
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Sieng Chye has been working with malware for the last 4 years. His work involves analysing malware threats/trends in APAC, as well as delivering security awareness and training programs for partners/clients.
      %p He serves as a subject matter expert, particularly in APAC malware threats and trends, and had been interviewed by online journalists on a wide-range of topics.
      %p Prior to that, he worked in the managed security service industry; helping enterprise and government clients in monitoring and provisioning of security solutions.
  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p ESET started researching a set of malicious software targeting Linux servers in the beginning of 2012. Since then, we have realized that many of these components are actually related.
      %p We soon discovered that one malicious group is currently in control of more than ten thousand servers. They are currently using these resources to redirect web traffic from legitimate websites to malicious content, to send spam messages, and to steal more credentials from users logging onto these servers.
      %p ESET’s research around Operation Windigo is part of a joint research effort with CERT-Bund, the Swedish National Infrastructure for Computing, the European Organization for Nuclear Research (CERN) and other organizations forming an international Working Group.
      %p The number of systems affected by Operation Windigo might seem small when compared with recent malware outbreaks where millions of desktops are infected. It is important to keep in mind that, in this case, each infected system is a server. These usually offer services to numerous users and are equipped with far more resources in terms of bandwidth, storage and computation power than normal personal computers. A denial of service attack or a spam-sending operation using one thousand servers is going to be far more effective than the same operation performed with the same number of desktop computers.
      %p The complexity of the backdoors deployed by the malicious actors’ shows out of the ordinary knowledge of operating systems and programming. Additionally, extra care was given to ensure portability, meaning the various pieces of malware will run on a wide range of server operating systems and to do so in an extremely stealthy fashion.
      %p The Windigo operation does not leverage any new vulnerability against Linux or UNIX systems. Known systemic weaknesses were exploited by the malicious actors in order to build and maintain their botnet.


#ent-day2-session13.session-box
  -#-------------------------------------------
  .title 盤古如何實現完美越獄
  .speaker 盤古團隊
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 盤古團隊在上個月全球首發了iOS7.1.x的完美越獄，該越獄支持所有的iOS7設備，也是歷史上第一次由中國團隊發布越獄工具。其實我們團隊準備好完美越獄所需要的全部漏洞後，仍然花費了2個月的時間來完成開發。由于是第一次開發越獄工具，期間遇到不少問題，感謝曾經幫助過我們的人。
      %p 本議題主要介紹我們團隊發現幷用來實現完美越獄的漏洞。我們將給出代碼簽名繞過、內核信息泄漏、內核內存覆蓋三個漏洞的細節。並且演示如何針對這些漏洞編寫溢出，從而使得盤古越獄能在你的iOS設備上存活。
    .en
      %p Our team released Pangu untether jailbreak for iOS 7.1.x last month which support all iOS 7 compatible devices. Actually after we gathered all the vulnerabilities needed for an untether jailbreak, it still took us about two months to finish developing the tool. Since it’s the first time for us to develop an untether jailbreak tool, we were faced with various problems and thanks for all the people who helped us.
      %p In this topic we will mainly talk about the vulnerabilities we found and used in Pangu jailbreak for untether. We will give details about our code signing bypass, kernel information leak and kernel memory overwrite vulnerabilities. Then we show you how to exploit these bugs so that Pangu jailbreak could survive on iOS devices.

  -# 議程說明
  .session-note
    .zh
      %p 盤古如何實現完美越獄
    .en
      %p How is Pangu Jailbreak Untethered on Your iOS Devices

#ent-day2-session14.session-box
  -#-------------------------------------------
  .title Knock? Knock? Who is There? APT Malware Attribution
  .speaker Frankie Li
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Frankie is an independent researcher specializing in computer forensics and malware analysis. His current research is APT Malware Attribution and making use of open source big data to identify possible malicious adversaries.

      %p He is a member of Information Security and Forensics Society (ISFS), Professional Internet Security Association (PISA), International High Technology Crime Investigation Association (HTCIA) and a member of Honeynet Project, Hong Kong Chapter. He is a part-time lecturer of Digital Forensics classes offered by HKU SPACE and mentor for SANS Institute's malware and forensics classes offered in Hong Kong. He is also a speaker in Blackhat USA 2014.

      %p Frankie holds a master degree of ECom/IComp from The University of Hong Kong. He also holds several industry destinations, including Certified Information Systems Security Professional (CISSP), GIAC Certified Forensic Examiner (GCFE), GIAC Certified Forensic Analyst (GCFA) and GIAC Reverse Engineering Malware (GREM).

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p Advanced Persistent Threat (APT) attacks are highly organized and launched for prolonged periods, generally exhibiting discernible attributes or patterns. In order to maintain the command and control (C2) network redundant, they are generally embedded with multiple DNS names. An intuitive view is that APT attackers keep and control a high number of DNS-IP address pairs.
      %p We studied a small sample of malware from a specific victim group who had been subjected to APT attacks. Our study indicates that the attackers follow some behavioral patterns of registering DNS domains and the frequent use of stable DNS-IP pairs. We developed an automated solution to simplify the tasks of collecting and storing the information as a knowledge base for future analysis.


