#training-class1.session-box
  -#-------------------------------------------
  .title      記憶體鑑識
  .speaker    張裕敏
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p Yu-Min Chang is a Security Researcher in Taiwan, Yu-Min focuses on helping global organizations respond to complex incidents.  Yu-Min also has expertise in the areas of penetration testing, code review, malware analysis, vulnerability research, security architecture and security strategy. He holds certification of CERT/CC, CISSP, CEH, CHFI and ECSA/LPT.
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p 你知道記憶體藏了多少秘密嗎？ 你知道犯罪者把硬碟清了又清， 瀏覽器硬碟快取刪了又刪， 卻還是證據確鑿嗎？
      %p 本課程將使用 volatility 這套開放原碼軟體來探討記憶體內的各項可立即擷取的資訊，協助大家對於上次使用過這台電腦的人的了解。
      :markdown
        ### 課程大綱
        1. volatility 介紹與安裝
        2. 從記憶體內找出過往的網路連線紀錄
        3. 從記憶體內找出facebook 帳密
        4. 從記憶體內找出twitter 帳密
        5. 從記憶體內找出惡意DLL
        6. 從記憶體內找出rootkit
        7. Q & A

        ### 學員先修技能
        無、初學者可
    .en
      %p N/A

#training-class2.session-box
  -#-------------------------------------------
  .title      SQL Injection from beginner to expert
  .speaker    蔡政達
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p
        蔡政達 aka Orange<br>
        CHROOT 成員<br>
        DEVCORE Security Consultant<br>
        HITCON, PHPCONF, PyCon ...等講師<br>
        揭露過 Microsoft, Django, Yahoo ...等漏洞<br>
        專精於駭客攻擊手法、Web Security 與網路滲透
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p
        SQL Injection 為一個用來攻擊資料庫的弱點已存在約快二十年，隨存在如此之久，但隨著 WWW 的發展，此類型的弱點有增無減，在多變的網路環境中，對於 SQL Injection 的攻擊有著不同的模式<br>
        不同的資料庫環境 ?<br>
        不同的 網頁環境 ?<br>
        有 WAF 的阻擋 ?<br>
        有環境的限制 ?<br>
        對於資料庫的了解程度很大一部份決定了可以利用這個弱點到什麼程度，並且在許多狀況下認為無法利用的漏洞，就真的無法利用嗎？<br>
        如何繞過這些限制以及有效的萃取(Extract)資料以一個滲透測試專家來說是必備的技能！
      :markdown
        ### 課程大綱
        1. 課前測試 - 用來了解學員程度
        2. SQL 注入概論以及環境準備
        3. MySQL, MSSQL, Oracle... Injection 萃取資料篇
        4. MySQL, MSSQL, Oracle... Injection 提升權限篇
        5. SQL Injection 實戰中限制繞過
        6. 挑戰 - 以一個未知的資料庫進行挑戰

        ### 學員先修技能
        本堂課程建議已熟悉 sql injection 技能為佳
        （非理論上熟悉，建議有實際實戰經驗並想加強者）

    .en
      %p N/A

#training-class3.session-box
  -#-------------------------------------------
  .title      Fighting and Reversing Malware
  .speaker    陳仲寬
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p
        陳仲寬，交通大學網路安全實驗室博士生<br>
        研究興趣包括惡意程式、逆向分析、虛擬機器及數位鑑識<br>
        負責多項惡意程式相關研究並參與多個資安相關大型計畫<br>
        以及擔任國內企業資安相關之講師及顧問
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p
        本課程共分三部分，首先透過各種Exploit Kit的運作方式，帶出對惡意程式的了解及其生命週期。<br>
        第二部分則專注於研究惡意程式各種逆蹤及反鑑識的技巧，包含：anti-dissamble, anti-debug, anti-vm...等議題，亦說明目前防禦方法的定位及侷限。<br>
        最後一部分的課程，整理國內外研究團隊對惡意程式分析的進階技術，並分享實驗室如何建構惡意程式分析的環境。
      :markdown
        ### 課程大綱
        * Course 1: Exploit Kit and Malware Lifecycle
        * Lab 1: Understanding Black Hole Exploit Kit(Source Code), Understanding Crime Pack Exploit Kit
        * Course 2: Anti-Forensic Technique in Malware and it's Defense
        * (中午休息)
        * Lab 2: Malicious Document/Binary Analysis, Unpack Binary, Writing Anti-Debug Program
        * Course 3: Advanced Technique for Malware Analysis
        * Lab 3: Play with TEMU, Simple practice S2E, Demo Cloudebug

        ### 學員先修技能
        * 讀懂 asm, php, c
        * 具linux系統操作之能力

    .en
      %p N/A

#training-class4.session-box
  -#-------------------------------------------
  .title      IOS Applications Vulnerability analysis
  .speaker    Louis Hur
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      N/A
    .en
      %p Louis Hur (Ceo of NSHC(http://www.nshc.net))
      %p Louis Hur is corporate president and Chief Executive Officer (CEO) of NSHC Corporation. He co-founded NSHC with four Hackers in 2003 while studying at the University, and was the first CEO until now Mr. Louis brings more than 16 years of field-proven experience security and bug hunting businesses that help clients reduce their enterprise-wide IT security risk. Prior to starting NSHC, He is a frequent speaker on Internet security issues and has appeared as an expert on various media outlets, including HK TV and MBC, KBS. R3d4l3rt’s researchers are also dedicated to finding new and unpatched security vulnerabilities.
  -# 議程說明
  .session-note
    .zh
      N/A
    .en
      %p
        Its main goal is to provide a platform to mobile security enthusiasts/professionals or students to test their iOS penetration testing skills in a legal environment. <br>
        we covers all the common vulnerabilities found in iOS applications and contains several challenges that the user can try. <br>
        and we're going to analysis iOS 7 jailbreak tools and their behavior.
      %p
        :markdown
          ### 課程大綱
          * Insecure Data Storage and Todo
          * Jailbreak Detection and evasions
          * Runtime Manipulation
          * Piracy Detection
          * Client Side Injection
          * Information Disclosure
          * Broken Cryptography
          * Security Decisions via Untrusted input
          * Side channel data leakage
          * Application Patching
          * Analysis of jailbreaking tools
          * Analysis of recently exploit of iOS

          ### 學員先修技能
          無、初學者可


#training-class5.session-box
  -#-------------------------------------------
  .title      EnCase Enterprise 駭客入侵/商業侵權 實務調查
  .speaker    黃敬博/林育峰/林書宇
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 鑒真數位 - 數位鑑識講師群 (黃敬博/林育峰/林書宇)
      %p 擁有EnCase EnCE專業認證,及EnCase CF-1及CF-2原廠講師認證,並完成2014 EnCase Enterprise 及CyberSecurity最新專業課程訓練
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p 學員藉由實務調查案例導引,學習使用國際中重大資安事件調查的實務工具EnCase Enterprise, 此工具支援各種Log及主機平台之調查(包含Windows,Linux,Mac,Unix,Aix,Solaris,Android…等)任務,為國際上針對任何資安事件或企業商業侵權訴訟中常採用的專業調查工具,也是各國執法單位所認可的數位鑑識調查工具，其強大的功能可讓學員瞭解未來面對資安事件、資料外洩或駭客入侵時,如何使用最好之工具來快速掌握各項重要資訊,本課程為實作之課程可讓學員每人均有FBI級的調查任務及Guidance原廠授權之操作訓練,資安人員可藉由本課程進一步跨入國際調查之數位鑑識領域。
      %p
        :markdown
          ### 課程大綱

          #### 3HR (早上)
          1. 學習建立一個新的EnCase Enterprise調查案件
          2. 學習建立一台調查主機及認證平台
          3. 學習如何透過派送進行Servelet Agent的派送
          4. 學習了解如何利用Agent進行自動化的調查處理(各種強大的EnScript)
          5.  如何有效的進行動態、靜態或異質平台的調查

          #### 3HR (下午)
          1. 觀看自動化調查之處理結果
          2. 瞭解如何使用關鍵字進行有效搜尋
          3. 瞭解如何用於調查iOS或Android手機/手持式系統平台
          4. 實務案例練習及講解
          5. 說明如何整合其它好用工具軟體

          ### 學員先修技能
          無、初學者可

          ### 備註
          本課程結束，可立即代為申請 EnCase Enterprise 全功能試用授權帶回企業進行測試利用，機會難得！<br>
          https://www.guidancesoftware.com/products/Pages/encase-enterprise/overview.aspx?cmpid=nav

    .en
      %p N/A

#training-class6.session-box
  -#-------------------------------------------
  .title      如何整合並自製 APT 調查工具
  .speaker    洪啟恒/張英傑
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 鑒真數位 - 數位鑑識講師群 (洪啟恒/張英傑)
      %p 擁有 AccessData ACE及EnCase EnCe 專業認證，並具有 AccessData FTK BootCamp 原廠講師認證，並擁有 CEH/CHFI 及各種 APT 實務調查經驗及工具開發經驗
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p 學員藉由導引整合各種Free工具，學習自製一個自動化的APT調查工具，將學習如何整合 Redline, Memory Analysis 及撰寫簡單之 Batch Script，來透過 Windows 派送方式至各個主機端進行未知型惡意程式蒐證及分析，本課程為實作之課程，可讓學員實務完成本課程後，應用本課程自製整合之工具對APT等惡意程式進行偵測及分析。
      %p
        :markdown
          ### 課程大綱

          #### 3HR (早上)
          1. 學習並應用Redline工具
          2. 學習撰寫Script整合各工具並自動遠端派送蒐集所需之資訊(Process info/Networking/Registry/Prefetch…)
          3. 學習如何透過記憶體分析掌握未知型態的惡意程式
          4. 如何建立IOC (Indicate of Compromise)
          5. 實務案例練習及講解

          ### 學員先修技能
          無、初學者可
    .en
      %p N/A


