#ent-day1-session1.session-box
  -#-------------------------------------------
  .title      Uncover APTs in the Kill Chain with Intelligence-Driven, Big Data Approaches
  .speaker    Yitzhak (Itzik) Vager, VP Product Management & Business Development, Verint Systems
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Yitzhak (Itzik) Vager is VP Product Management & Business Development for Verint Cyber Intelligence Solution, and has been working for Verint in the last fifteen years, in various technology and business positions.
      %p During his years in Verint, Itzik has been leading multiple growth engines for the company in the areas of Cyber Security, IP Monitoring, Big Data Collection and Service Providers Compliance.

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p Uncover APTs in the Kill Chain with Intelligence-Driven, Big Data Approaches

#ent-day1-session2.session-box
  -#-------------------------------------------
  .title      The Anatomy of a DDoS Attack
  .speaker    Matthew Prince, CloudFlare CEO
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Matthew is co-founder and CEO of CloudFlare. CloudFlare’s mission is to build a better Internet. Matthew wrote his first computer program at age seven when his mom would sneak him into university computer science courses. He went on to study English Literature and Computer Science in college before, oddly, skipping out on the first Internet boom to instead attend law school.
      %p After finishing law school, Matthew worked as an attorney for one day before joining a Chicago-based tech startup. He went on to co-found Unspam Technologies, an anti-spam startup where he continues to serve as Chairman. Since then, Matthew has been an adjunct professor of law at the John Marshall Law School and co-creator of Project Honey Pot, the largest open source community tracking online fraud and abuse. He started CloudFlare with Michelle Zatlyn, and Lee Holloway in 2009.
      %p In 2013, Matthew made the San Francisco Business Times’s 40 under 40 list and CloudFlare was named the most innovative internet and network company by the Wall Street Journal. He is a World Economic Forum Technology Pioneer, winner of the 2011 Tech Fellow Award, and serves on the Board of Advisors for the Center for Information Technology and Privacy Law. Along with being a regular contributor to TechCrunch and PandoDaily, Matthew has spoken at the RSA conference, Black Hat Summit, Web Summit, and is a frequent panelist for TechCrunch Disrupt.
      %p On the side, Matthew is a certified ski instructor, former mountain guide, and regular attendee of the Sundance Film Festival.
      %p Matthew holds an MBA from Harvard Business School where he was a George F. Baker Scholar and awarded the Dubliner Prize for Entrepreneurship. He is a member of the Illinois Bar, and earned his J.D. from the University of Chicago and B.A. from Trinity College.
      %p You can follow him on Twitter @eastdakota.

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p The Anatomy of a DDoS Attack

#ent-day1-session3.session-box
  -#-------------------------------------------
  .title      HITCON 如何適應新時代資安威脅座談會 / HITCON X 桌遊介紹
  .speaker    HITCON 團隊
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p N/A

#ent-day1-session4.session-box
  -#-------------------------------------------
  .title      Insecure Internal Storage in Android
  .speaker    Claud Xiao
  .company
  .download   <a href="../downloads/E1_04_ClaudXiao - Insecure Internal Storage in Android.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Claud Xiao is Sr. Security Researcher at Palo Alto Networks. He has years of experience on antivirus and mobile security. In the past, he found the first Android bootkit -- Oldboot, reported vulnerabilities in Android system and popular applications to Google, Facebook and other Internet companies, and been invited to present at HITCON, XCON, ISC, CNCERT/CC, etc. He also leads "Android Security" board of the PEDIY forum and another Chinese mobile security community.
  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p We're going to show an attack to read and write internal data on certain Android devices, thus bypass the fundamental security mechanism of Android and impact 94% of popular apps. In particularly, we will also disclose a category of Android apps storing password in plaintext which are vulnerable by the attack and may affect billion of users. At last, we will demonstrate system patching approaches and our security enhancement solutions for mitigating the problem.


#ent-day1-session5.session-box
  -#-------------------------------------------
  .title      Uroburos rootkit
  .speaker    Paul Rascagneres
  .company
  .download   <a href="../downloads/E1_05_Paul Rascagneres - Uroburos Rootkit.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Paul Rascagnères is a malware analyst for the G Data SecurityLabs. He is specialised in Advanced Persistant Threat (APT) and incident response. He worked on several complex cases such as government linked malware or rootkits’ analysis. He is a worldwide speaker at several security events

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p G Data Security experts have analyzed a very complex and sophisticated piece of malware, designed to steal confidential data. G Data refers to it as Uroburos, in correspondence with a string found in the malware’s code. This presentation will show the design of this rootkit and some technical aspects such as the techniques used to bypass Microsoft Windows protection against rootkits.

#ent-day1-session6.session-box
  -#-------------------------------------------
  .title      Bitcoin Security
  .speaker    林志宏
  .company
  .download   <a href="../downloads/E1_06_Chris Lin - Bitcoin Security.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 林志宏任職於銓安智慧科技，擔任技術部門經理。專長為軟體安全、嵌入式系統韌體保護技術，並擁有多項相關產品設計及開發經歷。
      %p 曾經參與的專案有小額支付系統、密鑰管理系統、客製化保密裝備研發、智慧卡登入整合、硬體安全模組應用等。產品開發經驗包括軟體保護產品、韌體保護解決方案、資料庫安全解決方案等。目前正在進行物聯網安全產品及解決方案的研發、比特幣安全硬體錢包研發。
      %p 對於密碼學與多媒體安全亦有高度興趣，學生時期即參與多項相關政府專案，於臺大資訊系獲得學士與碩士學位。綽號「猩猩」，橋牌是主要業餘興趣；曾經代表台灣贏得亞太青年賽冠軍、世界青年賽第四名。今年五月擊敗日本國家代表隊，榮獲橫濱橋藝邀請賽冠軍

    .en
      %p Chris Lin is a technical manager of InfoKeyVault Technology Co., Ltd. He specializes in software security and embedded firmware protection, and has rich experience of product design and development in this area. He participated in the projects of payment systems, key management systems, applications of hardware security modules (HSM), database security, etc. Currently he is devoted to the solution of IoTsecurity, and Bitcoin hardware wallets.

      %p Chris Lin is also interested in cryptography and multimedia security. During college years, he was often involved in cryptography or security-related projects. Both of his bachelor's and master's degrees came from CSIE department, National Taiwan University. "Gorilla" is his nickname, and bridge is his major hobby. Chris Lin represented Taiwan to win the Pacific-Asia Youth Bridge Championship, and made the semifinal of World Youth Bridge Championship. In May, his team defeated Japan national team, and won the 2014 Yokohama Invitational.

  -# 議程說明
  .session-note
    .zh
      %p 比特幣 (Bitcoin/BTC) 熱潮持續增溫，以密碼學為基礎的虛擬貨幣將成為不可擋的趨勢。自 2009 年比特幣問世至 2013 年底為止，創投注資總額為 1.1 億美元；但僅 2014 年上半年，創投注資總額高達 1.3 億美元。我們將簡單介紹比特幣運作原理，並廣泛探討比特幣各面向的安全性︰比特幣協定使用的密碼演算法 (ECDSA &SHA-2) 安全強度、導致全球最大比特幣交易中心 Mt. Gox 破產的「交易展延」攻擊、「51% 攻擊」與比特幣「末日」、交易平台安全、亂數產生器的品質、旁通道攻擊的防範，以及其他相關議題。最後我們將比較市面上各種比特幣錢包的特色與安全性，包括硬體錢包與智慧卡錢包。

    .en
      %p The popularity of Bitcoin is increasing. CryptoCurrency seems to be an unstoppable trend. During the invention of Bitcoin in 2009 to the end of 2013, the total Bitcoin VC investment was US$110M. Remarkably, in the first half of year 2014, the total VC investment in Bitcoin startups was US$130M. We will briefly introduce how Bitcoin works, then go on to various security aspects of Bitcoin: the strength of cryptographic primitives (ECDSA & SHA-2) in Bitcoin protocol, transaction malleability attacks and the bankruptcy of Mt.Gox, "51% attack" and Bitcoin Doomsday, exchange platform security, random number generator (RNG) quality, resistance to side channel attack (SCA), etc. Finally, we will compare Bitcoin wallets in the market, including hardware wallets and smartcard wallets.


#ent-day1-session7.session-box
  -#-------------------------------------------
  .title      IE 11 0day & Windows 8.1 Exploit
  .speaker    exp-sky
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p
        就職于Nsfocus安全研究院，擁有5年的安全研究經驗。 <br />
        關注瀏覽器安全。 <br />
        漏洞挖掘相關技術的研究，獨自發現幾十個IE 11 0day漏洞並報告微軟。<br />
        先進的Exploit技術的研究。 <br />
        APT相關的攻擊與防禦技術的研究。 <br />
        XKungFoo 2013 演講人。<br />

    .en
      %p He has five years of experience on information security research, resently hold on post on Nsfocus. He alway paid attention to browser security, do some research on vulnerability digging and found more than 11 zero-day vulnerabilities of Internet Explorer that also reported to Microsoft on his own. A good researcher of exploit and APT attack/defense, he is also the speaker of XKungFoo 2013.

  -# 議程說明
  .session-note
    .zh
      %p 主要紹如在Windows 8.1滿布丁的情况下開發IE 11的通用穩定的Exploit技術。然後通過2個不同的IE 11下的未公開的漏洞舉例，演示不同的Exploit方法。其中還會包含一些有趣的新技巧，使得可以輕鬆快速穩定的開發一個Exploit，幷且通用IE 9至IE 11瀏覽器版本。最後介紹微軟新增加的保護機制Isolated Heap的原理及對抗思路，給出實際成功對抗的0day演示。
    .en
      %p N/A

#ent-day1-session8.session-box
  -#-------------------------------------------
  .title      A fairy tale of a fictional country
  .speaker    Kazy
  .company
  / .download   <a href="#">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p N/A
    .en
      %p Security Strategist / Architect success leverages heavily from a blend of 20 years of solid business and technical experience, and 15 years of solid experience of analyzing / mitigating / managing business risk, especially cyber security threats and natural / artificial disasters
      Initiatives include Business / Risk Impact Analysis, Security / Risk Strategy Planning, Business Continuity Management and Information Security / Information Asset Management design / implementation, sales and marketing, business tactical and strategic planning, and financial and profitability analysis.

  -# 議程說明
  .session-note
    .zh
      %p N/A
    .en
      %p This it “fairy tale of a fictional country”, but the country is coincidently quite similar to a country in North East Asia with 128 million population and about half quadrillion GDP. Therefore, auditors may be possible to know what happened and is happening in the country with this session.
      %p It has been 11 years since the Government adopted Executive Adviser for Chief Information Officer for each of the ministries. And local governments, prefectures, cities, and even towns followed the Government. It is true that they contributed informatization of the government. But as strong light makes dark shade, there have been issues also. And security is one of them. Although they started to pay special attention onto security after the series of cyber-attacks against the Government found in 2011, it is still on the way. I have been worked at a tem of Executive Adviser for Chief Information Officer of a ministry from 2011 to 2013. And recently the ministry was found to have had serious security breach during the time. In this presentation, I would like to introduce the light and shade of Executive Adviser for Chief Information Officers especially focusing onto security based on the experience. And especially I would like to focus on the reason why the breach was missed. Throughout the presentation, I would like all of the audiences to think about how security experts live and work effectively in the organization, based on the bad example.

      %p Note: Since the nondisclosure agreement is still alive, the actual name of the country and the ministry cannot be shown on the side and in the speech.

#ent-day1-session9.session-box
  -#-------------------------------------------
  .title      Android 頑固木馬常見手法與清理
  .speaker    趙閩
  .company
  .download   <a href="../downloads/E1_09_趙閩 - Android顽固木马常见手法与清理.ppt">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 獵豹移動安全技術總監
      %p 趙閩於2004年加入金山網路，專注於防毒相關工作，在病毒分析、解密、識別惡意軟體方面等有豐富經驗。趙閩曾主導金山雲3.0安全體系的設計，目前專注於行動網路安全的研究。
    .en
      %p N/A
  -# 議程說明
  .session-note
    .zh
      %p 今年以來，Android木馬仍在迅猛增長，木馬新的攻擊手法也層出不窮。本題圍繞今年新出現的一些Android頑固木馬，分析其主要對抗手法，自動檢測方法，及清除解決方案。
    .en
      %p N/A


#ent-day1-session10.session-box
  -#-------------------------------------------
  .title      被遺忘的資訊洩漏 / Information Leakage in Taiwan
  .speaker    Shaolin Hsu
  .company
  .download   <a href="../downloads/E1_10_Shaolin - 被遺忘的資訊洩漏.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p Shaolin Hsu 目前是戴夫寇爾 (<a href="http://devco.re">DEVCORE</a>) 的資訊安全研究員，主要專注於 Web 應用程式的安全議題。在學期間曾拿過台灣兩大資訊安全競賽（資安技能金盾獎、台灣駭客年會）前三名，後協助國家單位處理 CERT 相關業務。曾建構分散式監控系統，以利快速、大量、可靠的進行資訊蒐集。本次大會議程便是透過該系統的成果，針對台灣企業網站做分析，並提供建議。
    .en
      %p Shaolin Hsu is the information security researcher and focus on web application security in <a href="http://devco.re">DEVCORE</a>. Shaolin Hsu got the top three of information security competition (Collegiate Information Security Competition and HITCON) during the school, he also assisted in CERT for government.  Shaolin Hsu has built distribution monitor system so that collect data more faster, more numerous and more reliable. Shaolin Hsu would like to share the analysis result of this distribution monitor system in the session, hi aimed and analyzed the enterprise website in Taiwan, also provided the solution to them.

  -# 議程說明
  .session-note
    .zh
      %p 『資訊收集』在一場成功的入侵行動中扮演十分關鍵的步驟，攻擊者往往能透過一些枝微末節的訊息，組織出有效的攻擊行動。暴露資訊通常不會有立即性危害，是以企業往往也最容易忽視這些暴露的訊息，不知道這些資訊有可能會帶來殺身之禍。
      本議程將根據 DEVCORE 監控中心提供的數據，介紹台灣企業目前資訊洩漏的概況及其風險，包含企業內部主機資訊洩漏、程式碼流出等問題。同時，我們將從 DEVCORE 團隊在過往滲透測試的經驗中，整理出幾項最容易被忽略的細節，並介紹這些細節帶來的潛在危機，以及 DEVCORE 如何透過資訊洩漏，在滲透測試中給予目標致命一擊...。
    .en
      %p N/A

#ent-day1-session11.session-box
  -#-------------------------------------------
  .title      常規攻擊的實時檢測
  .speaker    羅啟武
  .company
  .download   <a href="../downloads/E1_11_羅啟武 - 常規攻擊的實時檢測.pdf">下載投影片 / download</a>
  -#-------------------------------------------
  -# 講師介紹
  .speaker-note
    .zh
      %p 羅啓武，現任職于携程旅行網，從事安全工作超過6年。目前主要負責安全架構、安全産品研發，從事安全評估、應急，安全架構，賬戶安全，安全系統研發建設等工作。
      2006年創辦了Sebug漏洞庫（sebug.net），並在國內多個安全會議上做技術報告。
    .en
      %p He has more than six years of experience on information security, presently he hold a post in Ctrip and mainly in charge of security architecture, develop security product, security assessment and response, account security and develop system security. He is also the founder of Sebug (sebug.net) and presented lots of technical reports of security conference in China.
  -# 議程說明
  .session-note
    .zh
      %p 現在類似XSS、CSRF等安全漏洞或攻擊方式，都有了越來越多的新玩法，有了很多新的思路。在這個議題中，主要介紹一些常規安全攻擊方式的新玩法；並介紹如何實時的檢測發現這些新的攻擊，並對攻擊源進行追踪。
    .en
      %p N/A
