#day4
  .date-block
    %p
      8/22 HITCON X PLG 社群場第二天
      %small <a href="#day3">跳到第一天 day 8/21 →</a>
  .agenda-table
    .time-block 08:30

    %section.session.room-all
      %h3.title 報到、早餐時間
      %time     08:30-09:20 (50 mins)

    .time-block 09:20

    %section.session.room-all
      .room.r0 R0
      .room.r1 R1
      .room.r2 R2
      %h3.title HITCON CTF 贊助致辭 / 你不知道的數據
      %time     09:20-09:40 (20 mins)

    .time-block 09:40

    %section.session.room-all
      .room.r0 R0
      .room.r1 R1
      .room.r2 R2
      %h3.title 駭客奇葩獎
      %time     09:40-10:00 (20 mins)

    .time-block 10:00

    .row
      %section.session.room-r0
        %h3.title 神秘議程
        .speaker  神秘講師
        %time     10:00-10:50 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session2" }
            自己的除錯器自己寫!!
        .speaker  黃建忠
        %time     10:00-10:50 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session3" }
            AirPlay Screen Mirroring 的 Man-in-the-middle Attack
        .speaker 李孟翰
        %time     10:00-10:50 (50 mins)

    .time-block 10:50

    %section.session.room-all
      %h3.title Break
      %time     10:50-11:10 (20 mins)

    .time-block 11:10

    .row

      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session4" }
            APT Fail
        .speaker  Charles Li & zha0
        %time     11:10-12:00 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session5" }
            Vulnerability, Malware and DDoS
        .speaker  石謂龍
        %time     11:10-12:00 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session6" }
            Take advantage of randomness
        .speaker Frank Tse
        %time     11:10-12:00 (50 mins)

    .time-block 12:00

    %section.session.room-all
      %h3.title Lunch
      %time     12:00-13:00 (60 mins)

    .time-block 13:00

    .row

      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session7" }
            Building Adaptive Heterogeneous Architecture for Malware Behavior Analysis: MAN in Taiwan
        .speaker  黃獻德 TonTon
        %time     13:00-13:50 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session8" }
            Investigation and Intelligence Framework
        .speaker  Alan Ho & Zetta Ke
        %time     13:00-13:50 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session9" }
            Security {Breeze && ! (Breach)} @ Open Wifi; /* User Side Evil Twin Detection */
        .speaker Rushikesh Nandedkar & Amrita Iyer
        %time     13:00-13:50 (50 mins)

    .time-block 13:50

    %section.session.room-all
      %h3.title Break
      %time     13:50-14:10 (20 mins)

    .time-block 14:10

    .row

      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session10" }
            Cryptanalysis in real life II
        .speaker  周立平
        %time     14:10-15:00 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session11" }
            智能家居 BroadLink 入侵
        .speaker  陳章群
        %time     14:10-15:00 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session12" }
            Inside the Matrix,How to Build Transparent Sandbox for Malware Analysis
        .speaker 陳仲寬
        %time     14:10-15:00 (50 mins)

    .time-block 15:00

    %section.session.room-all
      %h3.title Coffee Break
      %time     15:00-15:20 (20 mins)

    .time-block 15:20

    .row

      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session13" }
            針對新型漏洞企業所面臨的三大盲點
        .speaker  Shirley Kuo
        %time     15:20-16:10 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session14" }
            Some things before network attack (a long time observation)
        .speaker  Canaan Kao
        %time     15:20-16:10 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day2-session15" }
            企業級智能行動裝置的資安保全與防護
        .speaker Anthony Li
        %time     15:20-16:10 (50 mins)

    .time-block 16:10

    %section.session.room-all
      %h3.title 閉幕 / 花絮與展望 HITCON 2015
      %time     16:10-17:00 (50 mins)






