#day3
  .date-block
    %p
      8/21 HITCON X PLG 社群場第一天
      %small <a href="#day4">跳到第二天 day 8/22 →</a>
  .agenda-table
    .time-block 08:30

    %section.session.room-all
      %h3.title 報到、早餐時間
      %time     08:30-09:30 (60 mins)

    .time-block 09:30

    %section.session.room-all
      .room.r0 R0
      .room.r1 R1
      .room.r2 R2
      %h3.title 總召致詞、Opening
      %time     09:30-09:45 (15 mins)

    .time-block 09:45

    %section.session.room-all
      .room.r0 R0
      .room.r1 R1
      .room.r2 R2
      %h3.title Opening Keynote (國發會何全德 參事)
      %time     09:45-09:50 (5 mins)

    .time-block 10:00

    .row
      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session2" }
            BinProxy: New Paradigm of Binary Analysis With Your Favorite Web Proxy
        .speaker  DongJoo Ha & Hyunwoo Choi  & Sunyoung Sim & Joobong Cho  & Jisun Kim & Gyeongik Jang
        %time     10:00-10:50 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session3" }
            AV 已死？消費領域的惡意軟體趨勢及應對
        .speaker  裴偉偉
        %time     10:00-10:50 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session4" }
            雲端系統登入安全分析 - 以全球網路銀行密碼輸入安全系統為例
        .speaker Guide Wang
        %time     10:00-10:50 (50 mins)

    .time-block 10:50

    .row

      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session5" }
            APT Backdoor Connection Evolution in Taiwan
        .speaker  Dove Chiu
        %time     11:10-12:00 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session6" }
            Smashing The Browser - From Vulnerability Discovery To Exploit
        .speaker  張臣
        %time     11:10-12:00 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session7" }
            Fast Track of Mac Memory Forensics - WeChat Analysis and Security Reveal in a live system
        .speaker Kelvin Wong & Eric Fan
        %time     11:10-12:00 (50 mins)

    .time-block 12:00

    %section.session.room-all
      %h3.title Lunch
      %time     12:00-13:20 (80 mins)

    .time-block 13:20

    .row

      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session8" }
            Insecure Internal Storage In Android
        .speaker  Claud Xiao
        %time     13:20-14:10 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session9" }
            On the Feasibility of Automatically Generating Android Component Hijacking Exploits
        .speaker  Daoyuan Wu
        %time     13:20-14:10 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session10" }
            Play Flappy Bird while you pentest Android in style
        .speaker Chris Liu & Matthew Lionetti
        %time     13:20-14:10 (50 mins)

    .time-block 14:10

    %section.session.room-all
      %h3.title Break
      %time     14:10-14:30 (20 mins)

    .time-block 14:30

    .row

      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session11"}
            掃吧你！從協議面抓出機歪的遠端桌面後門
        .speaker  Orange Tsai
        %time     14:30-15:20 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session12" }
            Guess Where I am: Android 模擬器躲避的檢測與應對
        .speaker  胡文君
        %time     14:30-15:20 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session13" }
            DroidDolphin: a Dynamic Android Malware Detection Framework Using Big Data and Machine Learning
        .speaker 吳文傑
        %time     14:30-15:20 (50 mins)

    .time-block 15:20

    %section.session.room-all
      %h3.title Coffee Break
      %time     15:20-15:40 (20 mins)

    .time-block 15:40

    .row

      %section.session.room-r0
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session14" }
            CRAX: An Automatically Exploit Generating System
        .speaker  Lance Chen
        %time     15:40-16:30 (50 mins)

      %section.session.room-r1
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session15" }
            New Exploit Mitigation In Internet Explorer
        .speaker  Promised Lu
        %time     15:40-16:30 (50 mins)

      %section.session.room-r2
        %h3.title
          %a.lightbox{ :href => "#plg-day1-session16" }
            出手偷摸摸透 iOS app 原來那麼簡單
        .speaker 何宜霖 L10 Ho
        %time     15:40-16:30 (50 mins)

    .time-block 16:30

    %section.session.room-all
      %h3.title Closing
      %time     16:30-17:00 (30 mins)






