#training
  %h2.title Training / 教育訓練
  .date-block
    %p
      8/18 教育訓練
  .agenda-table
    .time-block #01
    %section.session.room-all
      %h3.title
        %a.lightbox{ :href => "#training-class1" }
          記憶體鑑識
      .speaker
        OX
      %time 09:00-12:00 & 14:00-17:00 (6 hours)

    .time-block #02
    %section.session.room-all
      %h3.title
        %a.lightbox{ :href => "#training-class2" }
          SQL Injection from beginner to advanced
      .speaker
        蔡政達
      %time 09:00-12:00 & 14:00-17:00 (6 hours).time-block 9:00

    .time-block #03
    %section.session.room-all
      %h3.title
        %a.lightbox{ :href => "#training-class3" }
          Fighting and Reversing Malware
      .speaker
        陳仲寬
      %time 09:00-12:00 & 14:00-17:00 (6 hours).time-block 9:00

    .time-block #04
    %section.session.room-all
      %h3.title
        %a.lightbox{ :href => "#training-class4" }
          IOS Applications Vulnerability analysis
      .speaker
        Louis Hur
      %time 09:00-12:00 & 14:00-17:00 (6 hours).time-block 9:00

    .time-block #05
    %section.session.room-all
      %h3.title
        %a.lightbox{ :href => "#training-class5" }
          EnCase Enterprise 駭客入侵暨商業侵權實務調查
      .speaker
        數位鑑識講師群 (黃敬博/林育峰/林書宇)
      %time 09:00-12:00 & 14:00-17:00 (6 hours).time-block 9:00

    .time-block #06
    %section.session.room-all
      %h3.title
        %a.lightbox{ :href => "#training-class6" }
          如何整合並自製APT惡意程式調查工具
      .speaker
        數位鑑識講師群 (洪啟恒/張英傑)
      %time 09:00-12:00 & 14:00-17:00 (6 hours)
