- content_for :hero do
  = render "/2014/hero-page"

.section.location
  .objgroup
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
  %h2.title
  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 企業
    :markdown
      #### 特色
      互動、專業及深度技術討論，提供最新資安業界趨勢

      #### 票價
      10000

      #### 預計規模
      500人

      #### 場地
      台北喜來登大飯店

      #### 餐點
      * 飯店主廚便當
      * 喜來登特色茶點

      #### 議程
      1. 透過互動與交流，吸取專家經驗，並獲得資安最佳實務
      2. 專業高級議程 (雙軌, 多位國際講師)，發表與國際接軌的最新研究
      3. 資安發展議題深入探討 - Panel Discussion 與國際資安專家互動交流
      4. 台灣資安國際教流與發展 - HITCON CTF戰隊前進拉斯維加斯戰記
      5. HITCON 交流茶會，了解各種資安解決方案

      #### 講師
      國際等級資安專家與駭客

      #### 即時翻譯
      有

      #### 現場活動
      1. Social party，讓參加者有機會與講師、知名專家、廠商代表面對面對談
      2. 正妹教玩 HITCON 攻防桌遊！<br><br>

      #### 參加者
      * 國際資安廠商代表
      * 各大公司 IT 主管與技術人員
      * 資安產品研發
      * 資安分析師
      * 資安研究人員
      * 對資安有興趣者

      #### 贈品
      贈送 由HITCON 大會所創意設計的資安攻防桌遊乙套！
      贈送 HITCON 十周年紀念 T-Shirt

  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 社群
    :markdown
      #### 特色
      社群，體驗駭客文化

      #### 票價
      2000

      #### 預計規模
      1000人

      #### 場地
      中央研究院人文會館

      #### 餐點
      * 精選便當
      * 精選茶點

      #### 議程
      1. 資安社群技術分享
      2. 玩家級的技術議程
      3. CTF解題分享

      <br>

      #### 講師
      國內高手, 社群為主

      #### 即時翻譯
      部分場次

      #### 現場活動
      1. 算命攤  - 人生開發系列座談
      2. 廠商與社群提供各種競賽活動
      3. 2014 HITCON CTF 得者隊伍分享

      #### 參加者
      * 學生
      * 程式設計師, 工程師
      * 資安研究人員
      * 對資安入門有興趣者

      <br />

      #### 贈品
      需自費購買


