- content_for :hero do
  = render "/2014/hero-page"

.section.location
  .objgroup
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
  %h2.title Compare / 比較表
  .content.zh-tw
    .title-wrapper
      %h3.title
        .span HITCON X ENT (企業大會)
    :markdown
      #### 大會主旨
      建立企業 IT 從業人員與資安技術專家ㄧ個交流與成長的新平台，並以資安的策略、趨勢與技術領域作為探討的領域。以提升台灣資訊科技的視野與資安人才培育為主要目標。

      #### 議題方向
      * [趨勢分析] 兩岸資安圈十年發展回顧及未來趨勢與人才培育探討。
      * [全新觀點] 以駭客技術關點探討資安治理策略。
      * [防護研究] 以企業觀點探討最新防禦科技發展，包含APT, Malware, Mobile Security, Cloud Security, Forensics 與 DDoS Attack 等各項議題。
      * [國際交流] 邀請國際著名研究員發表資安研究。

      #### 特色
      建立企業IT主管與資安技術專家ㄧ個交流與成長的新平台，並以資安的策略、趨勢與技術領域作為探討的領域。以提升台灣資訊科技的視野與資安人才培育為主要目標。

      * 特別邀請大陸知名技術社群主持人與台灣 Chroot 社群共同發表對資安趨勢發展之看法，非常值得期待!
      * 安排數場從駭客技術角度切入的資安防禦策略與治理規畫，更是對於想提升資安程度的朋友不可不看的議程。
      * 大會規畫了多場議題以討論形式 (Panel) 進行，提供聽眾與國內外資安專家更多的交流機會


      #### 票價
      NTD $10,000

      #### 預計規模
      500 人

      #### 場地
      台北喜來登大飯店

      #### 餐點
      * 飯店主廚便當
      * 喜來登特色茶點

      #### 議程
      1. 透過互動與交流，吸取專家經驗，並獲得資安最佳實務
      2. 專業高級議程 (雙軌、 多位國際講師)，發表與國際接軌的最新研究
      3. 資安發展議題深入探討 - Panel Discussion 與國際資安專家互動交流
      4. 台灣資安國際教流與發展 - HITCON CTF 戰隊前進拉斯維加斯戰記
      5. HITCON 交流茶會，了解各種資安解決方案

      #### 講師
      國際等級資安專家與駭客

      #### 即時翻譯
      有

      #### 現場活動
      1. Social party，讓參加者有機會與講師、知名專家、廠商代表面對面對談
      2. 正妹教玩 HITCON 攻防桌遊！<br><br>

      #### 參加者
      * 國際資安廠商代表
      * 各大公司 IT 主管與技術人員
      * 資安產品研發
      * 資安分析師
      * 資安研究人員
      * 對資安有興趣者

      #### 贈品
      贈送 由HITCON 大會所創意設計的資安攻防桌遊乙套！
      贈送 HITCON 十周年紀念 T-Shirt

  .content.zh-tw
    .title-wrapper
      %h3.title
        .span HITCON X PLG（社群大會）
    :markdown
      #### 大會主旨
      發揚駭客的精神，並鼓勵跳躍式的創意思考與動手實作的執著。希望提供一個技術人員與資安社群分享與交流的平台。<br><br>

      #### 議題方向
      * [研究發表] 國內研究員與學生的資安研究發表
      * [社群活動] 資安社群研究與活動成果分享
      * [國際交流] 國際資安研究發表
      * [聯誼交友] 聊天聯誼與人才交流

      <br>

      #### 特色
      發揚駭客的精神，並鼓勵跳躍式的創意思考與動手實作的執著。希望提供一個技術人員與資安社群分享與交流的平台。

      <br><br><br><br><br><br>

      #### 票價
      NTD $2,000 / NTD $1,000 (Student)

      #### 預計規模
      1000 人

      #### 場地
      中央研究院人文會館

      #### 餐點
      * 精選便當
      * 精選茶點

      #### 議程
      1. 資安社群技術分享
      2. 玩家級的技術議程
      3. CTF 解題分享

      <br>

      #### 講師
      國內高手， 社群為主

      #### 即時翻譯
      部分場次

      #### 現場活動
      1. 算命攤  - 人生開發系列座談
      2. 廠商與社群提供各種競賽活動
      3. 2014 HITCON CTF 得者隊伍分享

      #### 參加者
      * 學生
      * 程式設計師、 工程師
      * 資安研究人員
      * 對資安入門有興趣者

      <br />

      #### 贈品
      需自費購買


