- content_for :hero do
  = render "/2014/hero-page"

- content_for :page_name, "報名"

.section.registration
  //.objgroup
  //  .obj-pointer.obj{ :"data-type" => "Pointer"}
  //  .obj-pointer.obj{ :"data-type" => "Pointer"}
  //  .obj-pointer.obj{ :"data-type" => "Pointer"}
  //  .obj-pointer.obj{ :"data-type" => "Pointer"}
  //  .obj-pointer.obj{ :"data-type" => "Pointer"}
  %h2.title 報名資訊 / Registration
  .row.call-for-paper
    .section
      %a.btn{ :href => "/2014/compare" } Comparison / 比較表
  .content.zh-tw
    .title-wrapper
      %h3.title
        .span HITCON-X ENT 報名方式
    %a.btn{ :href => "http://reg.hitcon.org/2014-ent/" } 報名
    :markdown
      #### 第一階段網路報名
      - 報名時間：2014/06/16 00:00 — 2014/06/30 12:00
      - 新台幣 8,000 元

      #### 第二階段網路報名
      - 報名時間：2014/07/01 00:00 — 2014/07/31 12:00
      - 新台幣 10,000 元

      #### 現場報名
      - 會議舉行當日可至現場報名新台幣 12,000 元。
      - 現場報名是網路售票有剩餘才開放，額滿為止，額滿後恕不開放入場。<br/><br/><br/><br/>

    .title-wrapper
      %h3.title
        .span HITCON-X PLG 報名方式
    %a.btn{ :href => "http://reg.hitcon.org/2014-plg/" } 報名
    :markdown
      #### 網路報名
      - 報名時間：2014/07/01 00:00 — 2014/07/31 12:00
      - 學生票 新台幣 1,000 元
      - 一般票 新台幣 2,000 元

      #### 現場報名
      - 無現場報名

      #### 注意事項
      - 活動為多軌議程，大會不保證參加者座位。

    .title-wrapper
      %h3.title
        .span 注意事項
    :markdown
      #### 報名注意事項
      - 本活動恕不接受退票。
      - 海外參加者若無法匯款，請來信大會服務信箱，並提供參加名單，我們將為您服務。
      - 請與會人員詳細閱讀「[HITCON 個人資料保護聲明](http://reg.hitcon.org/2014_privacy)」。
      - 票務部分不同於之前幾屆，本屆 HITCON-X ENT 與 HITCON-X PLG 兩場大會票卷需分開購買，單一大會票卷無法參加另一場大會，購票時請注意 !

      #### 補充說明

      ##### 「學生身分」須為以下兩點任一符合者

      - 持「學生證」（大專院校不含研究所），須蓋 102 學年度上下學期「註冊章」，且年齡 24 歲以下。
      - 持「身分證、駕照、健保卡、護照」四種有照片證件之一，須為民國 84 年 9 月後出生者，例如國中、高中職學生

      ##### 學生票現場驗票說明

      - 每位持學生票者，需提供本人學生證或上述四種有照片證件。
      - 未帶證件或不符資格者，一律以「一般身份」需補票進場。

      ##### 與會注意事項

      - 網路報名請妥善填寫真實資料，並攜帶有照片證件備用。
      - 請記住您的報名確認函內容，以供查驗身分。
      - 與會人員往返交通費及需住宿請自理。
      - 與會中 ENT / PLG 皆提供豐盛午餐及精緻下午茶點。

      ##### 發票開立：

      - 本活動由 KKTIX 開立電子發票。需統一編號者請務必填寫統編等資訊。


  .content.en
    .title-wrapper
      %h3.title
        .span HITCON-X ENT Registration
    %a.btn{ :href => "http://reg.hitcon.org/2014-ent/" } Registration
    :markdown
      #### Early Online Registration:
      - Period: 2014/06/16 00:00 ~ 2014/06/30 12:00
      - Price: NTD$ 8,000

      #### Regular Online Registration:
      - Period: 2014/07/01 00:00 ~ 2014/07/31 12:00
      - Price: NTD$ 10,000

      #### On-site Registration:
      - On-site registration will cost NTD$ 12,000
      - On-site registration will only be open when there are leftover seats from the previous stages of registration, therefore, there may be little or no seats available for on-site registration.
      - There will be no additional seats for on-site registration once all the available ones are sold out.

    .title-wrapper
      %h3.title
        .span HITCON-X PLG Registration
    %a.btn{ :href => "http://reg.hitcon.org/2014-plg/" } Registration
    :markdown

      #### Online Registration:
      - Period: 2014/07/01 00:00 ~ 2014/07/31 12:00
      - Student Price: NTD$ 1,000
      - Regular Price: NTD$ 2,000<br><br><br><br><br><br><br>

    .title-wrapper
      %h3.title
        .span Notes
    :markdown
      #### Notes on Registration:

      - For oversea participants who are unable to wire-transfer the registration fees, please email us at service@hitcon.org with the list of participants, and we'll assist you.
      - All fees are not refundable
      - Be sure to fill in legitimate and accurate information during online registration, and bring along any photo identification on the conference day in case the need for it arises.
      - Please note: HITCON-X ENT and HITCON-X PLG tickets will be sold separately. It is different from previous HITCON tickets.
      - We accept credit card, and bank wires for online registration. If you are coming from overseas, we would recommend you using credit card to make payment. On-site registration accepts only cash in TWD.

      #### Notes on Student Status:

      - To be eligible for the student status, one must meet either of the criteria:
        - Holders of a valid undergraduate student ID ( graduate students are ineligible ) for the past academic year and under the age of 24.
        - Those who are born after Sep 1995, and can prove it with an identity card, passport, driver license or any other valid photo identification with birth date.
      - Those with the student status will need to present either their student ID, or any photo identification with birth date at the on-site check-in.
      - For those who are not eligible for student status or is unable to present their supporting documentation, they'll need to pay the difference between the f

      #### Notes for Participants:

      - After successful registration, be sure to read the confirmation email, the QRCode in it will be used to verify your identity upon check-in.
      - The lodging and transportation to and from the conference venue will be at the participants' own expense
      - Lunch and desserts will be provided during the two conference day.

%hr
  .row.call-for-paper
    .section
      %a.btn{ :href => "/2014/faq/" } FAQ / 問與答

